Reference_Library/n8n_workflows_scraped/Web & API/14319-convert-csvxlsx-files-into-a-normalized-sql-schema-with-gpt-4.json
{
    "meta": {
        "instanceId": "48aac30adfc5487a33ef16e0e958096f27cef40df3ed0febcbe1ca199e789786"
    },
    "nodes": [
        {
            "id": "45ed7648-24d5-4f61-a1fb-190aded55d7e",
            "name": "Upload Files Webhook",
            "type": "n8n-nodes-base.webhook",
            "position": [
                -912,
                -64
            ],
            "webhookId": "7a47278f-909e-4534-a1dc-3e4ef56aff84",
            "parameters": {
                "path": "schema-builder",
                "options": {
                    "rawBody": true
                },
                "httpMethod": "POST",
                "responseMode": "lastNode"
            },
            "typeVersion": 2.1
        },
        {
            "id": "48ede746-2041-47b6-9644-d7c1ef211f4e",
            "name": "Workflow Configuration",
            "type": "n8n-nodes-base.set",
            "position": [
                -608,
                -64
            ],
            "parameters": {
                "options": {},
                "assignments": {
                    "assignments": [
                        {
                            "id": "id-1",
                            "name": "fkOverlapThreshold",
                            "type": "number",
                            "value": 0.7
                        },
                        {
                            "id": "id-2",
                            "name": "maxNormalizationDepth",
                            "type": "number",
                            "value": 3
                        },
                        {
                            "id": "id-3",
                            "name": "minUniquePercentForPK",
                            "type": "number",
                            "value": 0.95
                        }
                    ]
                },
                "includeOtherFields": true
            },
            "typeVersion": 3.4
        },
        {
            "id": "9566ffef-ce10-456f-b1a4-74dfab6848b3",
            "name": "Check File Type",
            "type": "n8n-nodes-base.if",
            "position": [
                -336,
                -64
            ],
            "parameters": {
                "options": {},
                "conditions": {
                    "options": {
                        "leftValue": "",
                        "caseSensitive": false,
                        "typeValidation": "loose"
                    },
                    "combinator": "or",
                    "conditions": [
                        {
                            "id": "id-1",
                            "operator": {
                                "type": "string",
                                "operation": "contains"
                            },
                            "leftValue": "={{ $json.data.mimeType }}",
                            "rightValue": "csv"
                        },
                        {
                            "id": "id-2",
                            "operator": {
                                "type": "string",
                                "operation": "contains"
                            },
                            "leftValue": "={{ $json.data.mimeType }}",
                            "rightValue": "text/csv"
                        }
                    ]
                }
            },
            "typeVersion": 2.3
        },
        {
            "id": "a8f93e71-bc03-447b-8a9d-6350c56bb872",
            "name": "Extract CSV Data",
            "type": "n8n-nodes-base.extractFromFile",
            "position": [
                -128,
                -160
            ],
            "parameters": {
                "options": {
                    "includeEmptyCells": true
                }
            },
            "typeVersion": 1.1
        },
        {
            "id": "9f96e5af-5be6-465c-981b-09a2dd126449",
            "name": "Extract Excel Data",
            "type": "n8n-nodes-base.extractFromFile",
            "position": [
                -128,
                32
            ],
            "parameters": {
                "options": {},
                "operation": "xlsx"
            },
            "typeVersion": 1.1
        },
        {
            "id": "ac1cc4e4-09cc-4386-984c-42f99581713b",
            "name": "Column Profiling Engine",
            "type": "n8n-nodes-base.code",
            "position": [
                144,
                -64
            ],
            "parameters": {
                "jsCode": "// Column Profiling Engine - Comprehensive Data Analysis\n// Profiles each column with statistical analysis, pattern detection, and metadata\n\nconst crypto = require('crypto');\n\n// Helper function to generate UUID\nfunction generateUUID() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\n// Helper function to calculate entropy\nfunction calculateEntropy(values) {\n  const freq = {};\n  values.forEach(v => {\n    freq[v] = (freq[v] || 0) + 1;\n  });\n  \n  let entropy = 0;\n  const total = values.length;\n  Object.values(freq).forEach(count => {\n    const p = count / total;\n    entropy -= p * Math.log2(p);\n  });\n  \n  return entropy;\n}\n\n// Helper function to detect data type\nfunction detectDataType(value) {\n  if (value === null || value === undefined || value === '') return 'null';\n  if (typeof value === 'number') return 'number';\n  if (typeof value === 'boolean') return 'boolean';\n  \n  const str = String(value);\n  \n  // Check for date patterns\n  if (!isNaN(Date.parse(str)) && /\\d{4}-\\d{2}-\\d{2}|\\d{1,2}\\/\\d{1,2}\\/\\d{2,4}/.test(str)) {\n    return 'date';\n  }\n  \n  // Check for number\n  if (!isNaN(str) && str.trim() !== '') return 'number';\n  \n  // Check for email\n  if (/^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(str)) return 'email';\n  \n  // Check for URL\n  if (/^https?:\\/\\/.+/.test(str)) return 'url';\n  \n  return 'string';\n}\n\n// Helper function to extract regex patterns\nfunction extractPatterns(values) {\n  const patterns = {};\n  \n  values.forEach(v => {\n    if (v === null || v === undefined || v === '') return;\n    \n    const str = String(v);\n    let pattern = str.replace(/\\d/g, '9').replace(/[a-z]/gi, 'A');\n    patterns[pattern] = (patterns[pattern] || 0) + 1;\n  });\n  \n  // Return top 5 patterns\n  return Object.entries(patterns)\n    .sort((a, b) => b[1] - a[1])\n    .slice(0, 5)\n    .map(([pattern, count]) => ({ pattern, count }));\n}\n\n// Helper function to detect candidate IDs\nfunction isCandidateID(columnName, values, uniquePercent) {\n  const name = columnName.toLowerCase();\n  \n  // Check if name suggests ID\n  if (name.includes('id') || name.includes('key') || name === 'pk') {\n    return true;\n  }\n  \n  // Check if values are unique and sequential or UUID-like\n  if (uniquePercent > 95) {\n    const sample = values.filter(v => v !== null && v !== undefined).slice(0, 100);\n    const hasUUID = sample.some(v => /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i.test(String(v)));\n    const hasSequential = sample.every((v, i) => i === 0 || Number(v) === Number(sample[i-1]) + 1);\n    \n    return hasUUID || hasSequential;\n  }\n  \n  return false;\n}\n\n// Helper function to detect reference columns\nfunction isReferenceColumn(columnName, values) {\n  const name = columnName.toLowerCase();\n  \n  // Check for foreign key naming patterns\n  if (name.endsWith('_id') || name.endsWith('id') && name !== 'id') {\n    return true;\n  }\n  \n  // Check for reference patterns\n  if (name.includes('ref') || name.includes('fk')) {\n    return true;\n  }\n  \n  return false;\n}\n\n// Helper function to detect composite key candidates\nfunction detectCompositeKeys(columns) {\n  const candidates = [];\n  \n  // Look for combinations of 2-3 columns that might form composite keys\n  for (let i = 0; i < columns.length; i++) {\n    for (let j = i + 1; j < columns.length; j++) {\n      const col1 = columns[i];\n      const col2 = columns[j];\n      \n      if (col1.uniquePercent < 100 && col2.uniquePercent < 100) {\n        candidates.push([col1.name, col2.name]);\n      }\n    }\n  }\n  \n  return candidates.slice(0, 5); // Return top 5 candidates\n}\n\n// Main profiling logic\nconst results = [];\n\nfor (const item of $input.all()) {\n  const data = item.json;\n  \n  // Extract metadata from input\n  const sourceFile = data.fileName || data.source_file || 'unknown';\n  const sheetName = data.sheetName || data.sheet_name || null;\n  \n  // Get the actual data rows\n  let rows = data.data || data.rows || [];\n  \n  // If data is in a different structure, try to extract it\n  if (rows.length === 0 && typeof data === 'object') {\n    // Check if data itself is an array\n    if (Array.isArray(data)) {\n      rows = data;\n    } else {\n      // Try to find array property\n      const arrayProp = Object.keys(data).find(key => Array.isArray(data[key]));\n      if (arrayProp) {\n        rows = data[arrayProp];\n      }\n    }\n  }\n  \n  if (rows.length === 0) {\n    continue;\n  }\n  \n  const rowCount = rows.length;\n  const datasetId = generateUUID();\n  \n  // Calculate file hash\n  const fileHash = crypto.createHash('md5').update(JSON.stringify(rows)).digest('hex');\n  \n  // Get column names\n  const columnNames = Object.keys(rows[0] || {});\n  \n  // Profile each column\n  const columnProfiles = [];\n  \n  for (const colName of columnNames) {\n    const values = rows.map(row => row[colName]);\n    \n    // Calculate null percentage\n    const nullCount = values.filter(v => v === null || v === undefined || v === '').length;\n    const nullPercent = (nullCount / rowCount) * 100;\n    \n    // Calculate unique percentage\n    const uniqueValues = new Set(values.filter(v => v !== null && v !== undefined && v !== ''));\n    const uniquePercent = (uniqueValues.size / (rowCount - nullCount)) * 100 || 0;\n    \n    // Get non-null values for analysis\n    const nonNullValues = values.filter(v => v !== null && v !== undefined && v !== '');\n    \n    // Detect data types\n    const typeDistribution = {};\n    nonNullValues.forEach(v => {\n      const type = detectDataType(v);\n      typeDistribution[type] = (typeDistribution[type] || 0) + 1;\n    });\n    \n    // Calculate min/max for numeric and string values\n    let minValue = null;\n    let maxValue = null;\n    \n    if (nonNullValues.length > 0) {\n      const numericValues = nonNullValues.filter(v => !isNaN(v)).map(Number);\n      if (numericValues.length > 0) {\n        minValue = Math.min(...numericValues);\n        maxValue = Math.max(...numericValues);\n      } else {\n        // For strings, use length\n        const lengths = nonNullValues.map(v => String(v).length);\n        minValue = Math.min(...lengths);\n        maxValue = Math.max(...lengths);\n      }\n    }\n    \n    // Calculate entropy\n    const entropy = nonNullValues.length > 0 ? calculateEntropy(nonNullValues) : 0;\n    \n    // Extract regex patterns\n    const patterns = extractPatterns(nonNullValues);\n    \n    // Create frequency histogram (top 10 values)\n    const frequencyMap = {};\n    nonNullValues.forEach(v => {\n      frequencyMap[v] = (frequencyMap[v] || 0) + 1;\n    });\n    \n    const frequencyHistogram = Object.entries(frequencyMap)\n      .sort((a, b) => b[1] - a[1])\n      .slice(0, 10)\n      .map(([value, count]) => ({ value, count, percentage: (count / nonNullValues.length) * 100 }));\n    \n    // Detect special column types\n    const isCandidateId = isCandidateID(colName, nonNullValues, uniquePercent);\n    const isReference = isReferenceColumn(colName, nonNullValues);\n    \n    // Check for repeated entity attributes (low cardinality)\n    const isRepeatedEntity = uniquePercent < 10 && uniquePercent > 0;\n    \n    columnProfiles.push({\n      name: colName,\n      nullPercent: Math.round(nullPercent * 100) / 100,\n      uniquePercent: Math.round(uniquePercent * 100) / 100,\n      minValue,\n      maxValue,\n      dataTypeDistribution: typeDistribution,\n      regexPatterns: patterns,\n      entropyScore: Math.round(entropy * 100) / 100,\n      frequencyHistogram,\n      isCandidateID: isCandidateId,\n      isReferenceColumn: isReference,\n      isRepeatedEntityAttribute: isRepeatedEntity,\n      sampleValues: nonNullValues.slice(0, 5)\n    });\n  }\n  \n  // Detect composite key candidates\n  const compositeKeyCandidates = detectCompositeKeys(columnProfiles);\n  \n  // Compile final result\n  results.push({\n    json: {\n      dataset_id: datasetId,\n      source_file: sourceFile,\n      sheet_name: sheetName,\n      row_count: rowCount,\n      file_hash: fileHash,\n      column_count: columnNames.length,\n      columns: columnProfiles,\n      composite_key_candidates: compositeKeyCandidates,\n      profiled_at: new Date().toISOString()\n    }\n  });\n}\n\nreturn results;"
            },
            "typeVersion": 2
        },
        {
            "id": "5d76c141-176e-49e3-8f6b-a06854506a19",
            "name": "Aggregate All Datasets",
            "type": "n8n-nodes-base.aggregate",
            "position": [
                336,
                -64
            ],
            "parameters": {
                "options": {},
                "aggregate": "aggregateAllItemData",
                "destinationFieldName": "datasets"
            },
            "typeVersion": 1
        },
        {
            "id": "2730cfc0-2e65-41a5-b77f-31a03dbfd246",
            "name": "Schema Reasoning Agent",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "position": [
                544,
                -112
            ],
            "parameters": {
                "text": "={{ JSON.stringify($json.datasets) }}",
                "options": {
                    "systemMessage": "You are a database schema architect specializing in data normalization and relational database design.\n\nYour task is to analyze the provided column profiling data from multiple datasets and design a normalized relational database schema.\n\n**Input Data:**\nYou will receive profiled datasets with column statistics including:\n- null %, unique %, min/max values\n- data type distribution\n- regex patterns and entropy scores\n- candidate IDs, composite keys, reference-like columns\n- repeated entity attributes\n- dataset metadata (source, row count, etc.)\n\n**Your Responsibilities:**\n\n1. **Entity Detection:** Identify logical entities by analyzing:\n   - Column name similarity across datasets\n   - Value reuse patterns\n   - Cardinality relationships\n   - Functional dependencies\n   - Repeated attribute groups\n\n2. **Table Design:** For each entity:\n   - Define table name (clear, singular)\n   - Assign columns to appropriate tables\n   - Identify primary key (must have \u226595% uniqueness)\n   - Avoid over-normalization and under-normalization\n\n3. **Relationship Inference:** Create foreign keys ONLY when:\n   - Value overlap \u226570% (use fkOverlapThreshold from config)\n   - Compatible data types\n   - Semantic header match\n   - No cycles in relationships\n\n4. **Constraints & Indexes:**\n   - Define NOT NULL constraints\n   - Add UNIQUE constraints where appropriate\n   - Suggest indexes for foreign keys and frequently queried columns\n\n5. **Validation Rules:**\n   - Ensure no duplicate PKs\n   - Verify FK overlap meets threshold\n   - Check type compatibility\n   - Prevent orphan tables\n\n**Output Requirements:**\nReturn a JSON schema with this exact structure:\n{\n  \"tables\": [\n    {\n      \"name\": \"table_name\",\n      \"columns\": [\n        {\n          \"name\": \"column_name\",\n          \"dataType\": \"SQL_TYPE\",\n          \"isPrimaryKey\": false,\n          \"nullable\": true,\n          \"isUnique\": false,\n          \"sourceColumns\": [\"original_column_name\"]\n        }\n      ]\n    }\n  ],\n  \"relationships\": [\n    {\n      \"sourceTable\": \"table_name\",\n      \"sourceColumn\": \"column_name\",\n      \"targetTable\": \"referenced_table\",\n      \"targetColumn\": \"referenced_column\",\n      \"overlapPercent\": 0.85\n    }\n  ],\n  \"indexes\": [\n    {\n      \"name\": \"idx_name\",\n      \"tableName\": \"table_name\",\n      \"columns\": [\"column_name\"],\n      \"isUnique\": false\n    }\n  ]\n}\n\n**Critical Rules:**\n- NO hallucinated columns\n- NO guessed relationships\n- ALL decisions must be data-backed\n- Use configuration thresholds from input"
                },
                "promptType": "define",
                "hasOutputParser": true
            },
            "typeVersion": 3
        },
        {
            "id": "ad9c1862-c897-4dcc-ae4e-ec820da8f522",
            "name": "Schema JSON Parser",
            "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
            "position": [
                736,
                32
            ],
            "parameters": {
                "schemaType": "manual",
                "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"tables\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"name\": {\n            \"type\": \"string\"\n          },\n          \"columns\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"object\",\n              \"properties\": {\n                \"name\": {\n                  \"type\": \"string\"\n                },\n                \"type\": {\n                  \"type\": \"string\"\n                },\n                \"nullable\": {\n                  \"type\": \"boolean\"\n                },\n                \"primaryKey\": {\n                  \"type\": \"boolean\"\n                },\n                \"foreignKey\": {\n                  \"type\": \"object\",\n                  \"properties\": {\n                    \"table\": {\n                      \"type\": \"string\"\n                    },\n                    \"column\": {\n                      \"type\": \"string\"\n                    }\n                  }\n                }\n              },\n              \"required\": [\"name\", \"type\"]\n            }\n          }\n        },\n        \"required\": [\"name\", \"columns\"]\n      }\n    },\n    \"relationships\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"fromTable\": {\n            \"type\": \"string\"\n          },\n          \"fromColumn\": {\n            \"type\": \"string\"\n          },\n          \"toTable\": {\n            \"type\": \"string\"\n          },\n          \"toColumn\": {\n            \"type\": \"string\"\n          },\n          \"overlapPercent\": {\n            \"type\": \"number\"\n          }\n        },\n        \"required\": [\"fromTable\", \"fromColumn\", \"toTable\", \"toColumn\"]\n      }\n    },\n    \"indexes\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"table\": {\n            \"type\": \"string\"\n          },\n          \"columns\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"string\"\n            }\n          },\n          \"type\": {\n            \"type\": \"string\"\n          }\n        },\n        \"required\": [\"table\", \"columns\", \"type\"]\n      }\n    }\n  },\n  \"required\": [\"tables\", \"relationships\", \"indexes\"]\n}"
            },
            "typeVersion": 1.3
        },
        {
            "id": "bc033391-3d9c-4cc3-ab97-ad0276efe75d",
            "name": "Rule Validator",
            "type": "n8n-nodes-base.code",
            "position": [
                912,
                -64
            ],
            "parameters": {
                "jsCode": "// Rule Validator - Validates schema integrity and normalization rules\n\nconst items = $input.all();\nconst schemaData = items[0].json;\nconst config = $('Workflow Configuration').item.json;\n\n// Extract schema and configuration\nconst schema = schemaData.schema || schemaData;\nconst fkThreshold = config.fkOverlapThreshold || 0.8;\n\n// Initialize validation results\nconst validationResults = {\n  isValid: true,\n  errors: [],\n  warnings: [],\n  checks: {\n    primaryKeyUniqueness: { passed: true, details: [] },\n    foreignKeyOverlap: { passed: true, details: [] },\n    columnTypeCompatibility: { passed: true, details: [] },\n    noOrphanTables: { passed: true, details: [] },\n    noOverNormalization: { passed: true, details: [] },\n    noUnderNormalization: { passed: true, details: [] }\n  }\n};\n\n// Helper function to add error\nfunction addError(check, message) {\n  validationResults.isValid = false;\n  validationResults.errors.push(message);\n  validationResults.checks[check].passed = false;\n  validationResults.checks[check].details.push(message);\n}\n\n// Helper function to add warning\nfunction addWarning(check, message) {\n  validationResults.warnings.push(message);\n  validationResults.checks[check].details.push(message);\n}\n\n// 1. Check Primary Key Uniqueness\nfor (const table of schema.tables || []) {\n  const pkColumns = table.columns.filter(col => col.isPrimaryKey);\n  \n  if (pkColumns.length === 0) {\n    addError('primaryKeyUniqueness', `Table \"${table.name}\" has no primary key defined`);\n  }\n  \n  // Check for duplicate PK column names within the same table\n  const pkNames = pkColumns.map(col => col.name);\n  const duplicatePKs = pkNames.filter((name, index) => pkNames.indexOf(name) !== index);\n  \n  if (duplicatePKs.length > 0) {\n    addError('primaryKeyUniqueness', `Table \"${table.name}\" has duplicate primary key columns: ${duplicatePKs.join(', ')}`);\n  }\n}\n\n// 2. Check Foreign Key Overlap and Validity\nfor (const relationship of schema.relationships || []) {\n  const sourceTable = schema.tables.find(t => t.name === relationship.sourceTable);\n  const targetTable = schema.tables.find(t => t.name === relationship.targetTable);\n  \n  if (!sourceTable) {\n    addError('foreignKeyOverlap', `Source table \"${relationship.sourceTable}\" not found for relationship`);\n    continue;\n  }\n  \n  if (!targetTable) {\n    addError('foreignKeyOverlap', `Target table \"${relationship.targetTable}\" not found for relationship`);\n    continue;\n  }\n  \n  const fkColumn = sourceTable.columns.find(col => col.name === relationship.sourceColumn);\n  const pkColumn = targetTable.columns.find(col => col.name === relationship.targetColumn);\n  \n  if (!fkColumn) {\n    addError('foreignKeyOverlap', `Foreign key column \"${relationship.sourceColumn}\" not found in table \"${relationship.sourceTable}\"`);\n  }\n  \n  if (!pkColumn) {\n    addError('foreignKeyOverlap', `Referenced column \"${relationship.targetColumn}\" not found in table \"${relationship.targetTable}\"`);\n  }\n  \n  // Check if target column is a primary key\n  if (pkColumn && !pkColumn.isPrimaryKey) {\n    addWarning('foreignKeyOverlap', `Foreign key in \"${relationship.sourceTable}\" references non-primary key column \"${relationship.targetColumn}\" in \"${relationship.targetTable}\"`);\n  }\n}\n\n// 3. Check Column Type Compatibility for Foreign Keys\nfor (const relationship of schema.relationships || []) {\n  const sourceTable = schema.tables.find(t => t.name === relationship.sourceTable);\n  const targetTable = schema.tables.find(t => t.name === relationship.targetTable);\n  \n  if (sourceTable && targetTable) {\n    const fkColumn = sourceTable.columns.find(col => col.name === relationship.sourceColumn);\n    const pkColumn = targetTable.columns.find(col => col.name === relationship.targetColumn);\n    \n    if (fkColumn && pkColumn) {\n      // Normalize types for comparison\n      const fkType = fkColumn.dataType.toLowerCase().replace(/\\(.*\\)/, '');\n      const pkType = pkColumn.dataType.toLowerCase().replace(/\\(.*\\)/, '');\n      \n      if (fkType !== pkType) {\n        addError('columnTypeCompatibility', `Type mismatch: FK \"${relationship.sourceTable}.${relationship.sourceColumn}\" (${fkColumn.dataType}) does not match PK \"${relationship.targetTable}.${relationship.targetColumn}\" (${pkColumn.dataType})`);\n      }\n    }\n  }\n}\n\n// 4. Check for Orphan Tables (tables with no relationships)\nconst tablesWithRelationships = new Set();\nfor (const relationship of schema.relationships || []) {\n  tablesWithRelationships.add(relationship.sourceTable);\n  tablesWithRelationships.add(relationship.targetTable);\n}\n\nfor (const table of schema.tables || []) {\n  if (!tablesWithRelationships.has(table.name) && schema.tables.length > 1) {\n    addWarning('noOrphanTables', `Table \"${table.name}\" has no relationships with other tables (orphan table)`);\n  }\n}\n\n// 5. Check for Over-Normalization (too many tables with single columns)\nconst singleColumnTables = schema.tables.filter(table => \n  table.columns.filter(col => !col.isPrimaryKey).length <= 1\n);\n\nif (singleColumnTables.length > schema.tables.length * 0.3) {\n  addWarning('noOverNormalization', `Possible over-normalization: ${singleColumnTables.length} tables have only 1-2 columns. Consider consolidating: ${singleColumnTables.map(t => t.name).join(', ')}`);\n}\n\n// 6. Check for Under-Normalization (tables with too many columns)\nconst largeColumnTables = schema.tables.filter(table => table.columns.length > 15);\n\nif (largeColumnTables.length > 0) {\n  for (const table of largeColumnTables) {\n    addWarning('noUnderNormalization', `Table \"${table.name}\" has ${table.columns.length} columns. Consider normalizing if there are repeating groups or multi-valued dependencies`);\n  }\n}\n\n// Check for repeating column patterns (sign of under-normalization)\nfor (const table of schema.tables || []) {\n  const columnNames = table.columns.map(col => col.name.toLowerCase());\n  const patterns = {};\n  \n  for (const name of columnNames) {\n    // Check for numbered columns (e.g., phone1, phone2, phone3)\n    const match = name.match(/^(.+?)(\\d+)$/);\n    if (match) {\n      const base = match[1];\n      patterns[base] = (patterns[base] || 0) + 1;\n    }\n  }\n  \n  for (const [pattern, count] of Object.entries(patterns)) {\n    if (count >= 3) {\n      addWarning('noUnderNormalization', `Table \"${table.name}\" has repeating column pattern \"${pattern}*\" (${count} occurrences). Consider normalizing into a separate table`);\n    }\n  }\n}\n\n// Prepare output\nif (validationResults.isValid) {\n  return [\n    {\n      json: {\n        ...schemaData,\n        validation: {\n          status: 'passed',\n          timestamp: new Date().toISOString(),\n          checks: validationResults.checks,\n          warnings: validationResults.warnings\n        }\n      }\n    }\n  ];\n} else {\n  // Return error with validation details\n  return [\n    {\n      json: {\n        error: 'Schema validation failed',\n        validationStatus: 'failed',\n        errors: validationResults.errors,\n        warnings: validationResults.warnings,\n        checks: validationResults.checks,\n        originalSchema: schemaData\n      }\n    }\n  ];\n}"
            },
            "typeVersion": 2
        },
        {
            "id": "a14dcff2-c7f6-4397-8c5b-d0fd66ff0d47",
            "name": "SQL Schema Generator",
            "type": "n8n-nodes-base.code",
            "position": [
                1168,
                -64
            ],
            "parameters": {
                "jsCode": "// SQL Schema Generator\n// Generates executable SQL CREATE TABLE, ALTER TABLE, and CREATE INDEX statements\n\nconst items = $input.all();\nconst validatedSchema = items[0].json;\n\n// Helper function to map data types to SQL types\nfunction mapToSQLType(dataType, maxLength = null) {\n  const typeMap = {\n    'string': maxLength && maxLength <= 255 ? `VARCHAR(${maxLength})` : 'TEXT',\n    'integer': 'INTEGER',\n    'bigint': 'BIGINT',\n    'decimal': 'DECIMAL(10,2)',\n    'float': 'FLOAT',\n    'double': 'DOUBLE',\n    'boolean': 'BOOLEAN',\n    'date': 'DATE',\n    'datetime': 'DATETIME',\n    'timestamp': 'TIMESTAMP',\n    'text': 'TEXT',\n    'json': 'JSON'\n  };\n  return typeMap[dataType.toLowerCase()] || 'VARCHAR(255)';\n}\n\n// Generate CREATE TABLE statements\nlet sqlScript = \"-- ============================================\\n\";\nsqlScript += \"-- SQL Schema Generated by AI Schema Builder\\n\";\nsqlScript += `-- Generated: ${new Date().toISOString()}\\n`;\nsqlScript += \"-- ============================================\\n\\n\";\n\n// First pass: Create all tables\nfor (const table of validatedSchema.tables) {\n  sqlScript += `-- Table: ${table.name}\\n`;\n  if (table.description) {\n    sqlScript += `-- Description: ${table.description}\\n`;\n  }\n  sqlScript += `CREATE TABLE ${table.name} (\\n`;\n  \n  const columnDefs = [];\n  \n  for (const column of table.columns) {\n    let colDef = `  ${column.name} ${mapToSQLType(column.dataType, column.maxLength)}`;\n    \n    // Add constraints\n    if (column.isPrimaryKey) {\n      colDef += ' PRIMARY KEY';\n    }\n    if (column.isUnique && !column.isPrimaryKey) {\n      colDef += ' UNIQUE';\n    }\n    if (!column.nullable) {\n      colDef += ' NOT NULL';\n    }\n    if (column.defaultValue !== undefined && column.defaultValue !== null) {\n      colDef += ` DEFAULT ${typeof column.defaultValue === 'string' ? `'${column.defaultValue}'` : column.defaultValue}`;\n    }\n    if (column.autoIncrement) {\n      colDef += ' AUTO_INCREMENT';\n    }\n    \n    columnDefs.push(colDef);\n  }\n  \n  sqlScript += columnDefs.join(',\\n');\n  sqlScript += \"\\n);\\n\\n\";\n}\n\n// Second pass: Add foreign key constraints\nif (validatedSchema.relationships && validatedSchema.relationships.length > 0) {\n  sqlScript += \"-- ============================================\\n\";\n  sqlScript += \"-- Foreign Key Relationships\\n\";\n  sqlScript += \"-- ============================================\\n\\n\";\n  \n  for (const rel of validatedSchema.relationships) {\n    sqlScript += `-- Relationship: ${rel.name || `${rel.fromTable}_${rel.toTable}`}\\n`;\n    if (rel.description) {\n      sqlScript += `-- Description: ${rel.description}\\n`;\n    }\n    \n    const constraintName = `fk_${rel.fromTable}_${rel.fromColumn}_${rel.toTable}_${rel.toColumn}`;\n    sqlScript += `ALTER TABLE ${rel.fromTable}\\n`;\n    sqlScript += `  ADD CONSTRAINT ${constraintName}\\n`;\n    sqlScript += `  FOREIGN KEY (${rel.fromColumn})\\n`;\n    sqlScript += `  REFERENCES ${rel.toTable}(${rel.toColumn})`;\n    \n    if (rel.onDelete) {\n      sqlScript += `\\n  ON DELETE ${rel.onDelete.toUpperCase()}`;\n    }\n    if (rel.onUpdate) {\n      sqlScript += `\\n  ON UPDATE ${rel.onUpdate.toUpperCase()}`;\n    }\n    \n    sqlScript += \";\\n\\n\";\n  }\n}\n\n// Third pass: Create indexes\nif (validatedSchema.indexes && validatedSchema.indexes.length > 0) {\n  sqlScript += \"-- ============================================\\n\";\n  sqlScript += \"-- Indexes\\n\";\n  sqlScript += \"-- ============================================\\n\\n\";\n  \n  for (const index of validatedSchema.indexes) {\n    sqlScript += `-- Index: ${index.name}\\n`;\n    if (index.description) {\n      sqlScript += `-- Description: ${index.description}\\n`;\n    }\n    \n    const indexType = index.isUnique ? 'UNIQUE INDEX' : 'INDEX';\n    const columns = Array.isArray(index.columns) ? index.columns.join(', ') : index.columns;\n    \n    sqlScript += `CREATE ${indexType} ${index.name}\\n`;\n    sqlScript += `  ON ${index.tableName}(${columns});\\n\\n`;\n  }\n}\n\nsqlScript += \"-- ============================================\\n\";\nsqlScript += \"-- End of Schema\\n\";\nsqlScript += \"-- ============================================\\n\";\n\nreturn [{\n  json: {\n    sqlSchema: sqlScript,\n    tableCount: validatedSchema.tables.length,\n    relationshipCount: validatedSchema.relationships?.length || 0,\n    indexCount: validatedSchema.indexes?.length || 0\n  }\n}];"
            },
            "typeVersion": 2
        },
        {
            "id": "055c9b60-af59-4ece-ac00-e3a0550d9160",
            "name": "Generate Data Dictionary & ERD",
            "type": "n8n-nodes-base.code",
            "position": [
                1440,
                -64
            ],
            "parameters": {
                "jsCode": "// Get the SQL schema and validation results from previous nodes\nconst sqlSchema = $input.first().json.sqlSchema || [];\nconst validationResults = $input.first().json.validationResults || {};\nconst schemaAnalysis = $input.first().json.schemaAnalysis || {};\n\n// Generate Data Dictionary\nconst dataDictionary = [];\n\nfor (const table of sqlSchema) {\n  const tableName = table.tableName;\n  const columns = table.columns || [];\n  \n  for (const column of columns) {\n    const dictEntry = {\n      tableName: tableName,\n      columnName: column.name,\n      dataType: column.type,\n      constraints: [],\n      sourceColumns: column.sourceColumns || [],\n      description: column.description || ''\n    };\n    \n    // Add constraints\n    if (column.primaryKey) {\n      dictEntry.constraints.push('PRIMARY KEY');\n    }\n    if (column.notNull) {\n      dictEntry.constraints.push('NOT NULL');\n    }\n    if (column.unique) {\n      dictEntry.constraints.push('UNIQUE');\n    }\n    if (column.foreignKey) {\n      dictEntry.constraints.push(`FOREIGN KEY -> ${column.foreignKey.table}.${column.foreignKey.column}`);\n    }\n    \n    dataDictionary.push(dictEntry);\n  }\n}\n\n// Generate ERD in Mermaid format\nlet erdDiagram = 'erDiagram\\n';\n\n// Add tables and their columns\nfor (const table of sqlSchema) {\n  const tableName = table.tableName;\n  erdDiagram += `  ${tableName} {\\n`;\n  \n  for (const column of table.columns || []) {\n    let columnDef = `    ${column.type} ${column.name}`;\n    \n    // Add key indicators\n    if (column.primaryKey) {\n      columnDef += ' PK';\n    }\n    if (column.foreignKey) {\n      columnDef += ' FK';\n    }\n    if (column.unique) {\n      columnDef += ' \"UNIQUE\"';\n    }\n    if (column.notNull) {\n      columnDef += ' \"NOT NULL\"';\n    }\n    \n    erdDiagram += columnDef + '\\n';\n  }\n  \n  erdDiagram += '  }\\n';\n}\n\n// Add relationships\nconst relationships = [];\nfor (const table of sqlSchema) {\n  for (const column of table.columns || []) {\n    if (column.foreignKey) {\n      const relationship = {\n        from: table.tableName,\n        to: column.foreignKey.table,\n        cardinality: column.foreignKey.cardinality || 'many-to-one'\n      };\n      relationships.push(relationship);\n    }\n  }\n}\n\n// Add relationship lines to ERD\nfor (const rel of relationships) {\n  let cardinalitySymbol = '';\n  \n  switch (rel.cardinality) {\n    case 'one-to-one':\n      cardinalitySymbol = '||--||';\n      break;\n    case 'one-to-many':\n      cardinalitySymbol = '||--o{';\n      break;\n    case 'many-to-one':\n      cardinalitySymbol = '}o--||';\n      break;\n    case 'many-to-many':\n      cardinalitySymbol = '}o--o{';\n      break;\n    default:\n      cardinalitySymbol = '}o--||';\n  }\n  \n  erdDiagram += `  ${rel.from} ${cardinalitySymbol} ${rel.to} : \"references\"\\n`;\n}\n\n// Return the results\nreturn [\n  {\n    json: {\n      dataDictionary: dataDictionary,\n      erdDiagram: erdDiagram,\n      sqlSchema: sqlSchema,\n      validationResults: validationResults,\n      schemaAnalysis: schemaAnalysis\n    }\n  }\n];"
            },
            "typeVersion": 2
        },
        {
            "id": "012da755-1b1a-46d5-a23c-cd18daceb1dd",
            "name": "Return Results",
            "type": "n8n-nodes-base.respondToWebhook",
            "position": [
                1744,
                -64
            ],
            "parameters": {
                "options": {
                    "responseCode": 200
                },
                "respondWith": "json",
                "responseBody": "={\n  \"sqlSchema\": {{ $json.sqlSchema }},\n  \"dataDictionary\": {{ $json.dataDictionary }},\n  \"erdDiagram\": {{ $json.erdDiagram }}\n}"
            },
            "typeVersion": 1.5
        },
        {
            "id": "3abc6b02-2765-4336-8d93-fe2b223611e5",
            "name": "Sticky Note1",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                -960,
                -208
            ],
            "parameters": {
                "color": 7,
                "width": 502,
                "height": 288,
                "content": "## Input & Configuration\n\nHandles file upload via webhook and initializes schema generation settings such as thresholds and normalization rules."
            },
            "typeVersion": 1
        },
        {
            "id": "e428ba61-4982-4a27-b547-7ef8028c99f1",
            "name": "Sticky Note2",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                864,
                -288
            ],
            "parameters": {
                "color": 7,
                "width": 230,
                "height": 432,
                "content": "## Schema Validation\n\nValidates the generated schema by checking keys, relationships, data types, and normalization issues."
            },
            "typeVersion": 1
        },
        {
            "id": "04d213e4-2d19-45e2-ac2a-5a51ae9c024c",
            "name": "Sticky Note3",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                1664,
                -288
            ],
            "parameters": {
                "color": 7,
                "width": 246,
                "height": 416,
                "content": "## Final Output\n\nReturns the generated SQL schema, ERD, and data dictionary as a structured JSON response via webhook."
            },
            "typeVersion": 1
        },
        {
            "id": "fa24b327-27b6-487d-8f25-7dcd2a6366be",
            "name": "Sticky Note4",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                480,
                -288
            ],
            "parameters": {
                "color": 7,
                "width": 358,
                "height": 432,
                "content": "## AI Schema Reasoning\n\nUses an AI agent to design a normalized relational schema with tables, relationships, and constraints based on data analysis."
            },
            "typeVersion": 1
        },
        {
            "id": "8402104c-39f2-450b-8f6e-730f4b6b81af",
            "name": "Sticky Note5",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                -416,
                -288
            ],
            "parameters": {
                "color": 7,
                "width": 470,
                "height": 480,
                "content": "## File Detection & Extraction\n\nDetects file type (CSV or Excel) and converts the uploaded file into structured JSON data for processing."
            },
            "typeVersion": 1
        },
        {
            "id": "680bff54-3b01-4a60-a865-b7fa45c7bc2c",
            "name": "Sticky Note6",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                96,
                -288
            ],
            "parameters": {
                "color": 7,
                "width": 374,
                "height": 432,
                "content": "## Column Profiling Engine and Dataset Aggregation\n\nAnalyzes dataset columns to detect data types, patterns, uniqueness, entropy, and potential keys or relationships and Combines all processed datasets"
            },
            "typeVersion": 1
        },
        {
            "id": "2e63a4c3-983e-4400-9b6c-9f1473a7775a",
            "name": "Sticky Note7",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                -1552,
                -304
            ],
            "parameters": {
                "width": 368,
                "height": 464,
                "content": "## AI Multi-Table Schema Builder with Automated Normalization and Relationship Detection\n\n## How it works\nThis workflow converts CSV/XLSX files into a fully validated database schema. It extracts and profiles data using statistical analysis, detects patterns and relationships, and uses an AI agent to design normalized tables. The schema is validated against strict rules before generating SQL scripts, ERD diagrams, and a data dictionary, which are returned via webhook.\n\n## Setup steps\n1. Activate webhook and upload CSV/XLSX file  \n2. Configure OpenAI (GPT-4) credentials  \n3. Adjust thresholds (FK overlap, PK uniqueness)  \n4. Execute workflow  \n5. Use generated SQL, ERD, and dictionary  "
            },
            "typeVersion": 1
        },
        {
            "id": "27796da6-c284-4dbd-ae5f-afe8198dfd91",
            "name": "OpenAI GPT",
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "position": [
                512,
                32
            ],
            "parameters": {
                "model": {
                    "__rl": true,
                    "mode": "id",
                    "value": "gpt-4o"
                },
                "options": {},
                "builtInTools": {}
            },
            "typeVersion": 1.3
        },
        {
            "id": "1ed03458-6bee-4d0c-8c3c-c28dcd0ca04e",
            "name": "Sticky Note",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                1120,
                -288
            ],
            "parameters": {
                "color": 7,
                "width": 230,
                "height": 432,
                "content": "## SQL Schema Generation\n\nGenerates executable SQL scripts including table creation, constraints, and indexes."
            },
            "typeVersion": 1
        },
        {
            "id": "af162567-336c-4616-9846-97bbef682013",
            "name": "Sticky Note8",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                1376,
                -288
            ],
            "parameters": {
                "color": 7,
                "width": 230,
                "height": 432,
                "content": "## ERD & Data Dictionary\n\nCreates a visual ERD and a detailed data dictionary describing tables, columns, and relationships."
            },
            "typeVersion": 1
        }
    ],
    "pinData": {},
    "connections": {
        "OpenAI GPT": {
            "ai_languageModel": [
                [
                    {
                        "node": "Schema Reasoning Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Rule Validator": {
            "main": [
                [
                    {
                        "node": "SQL Schema Generator",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check File Type": {
            "main": [
                [
                    {
                        "node": "Extract CSV Data",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Extract Excel Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract CSV Data": {
            "main": [
                [
                    {
                        "node": "Column Profiling Engine",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Excel Data": {
            "main": [
                [
                    {
                        "node": "Column Profiling Engine",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Schema JSON Parser": {
            "ai_outputParser": [
                [
                    {
                        "node": "Schema Reasoning Agent",
                        "type": "ai_outputParser",
                        "index": 0
                    }
                ]
            ]
        },
        "SQL Schema Generator": {
            "main": [
                [
                    {
                        "node": "Generate Data Dictionary & ERD",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Upload Files Webhook": {
            "main": [
                [
                    {
                        "node": "Workflow Configuration",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Aggregate All Datasets": {
            "main": [
                [
                    {
                        "node": "Schema Reasoning Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Schema Reasoning Agent": {
            "main": [
                [
                    {
                        "node": "Rule Validator",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Workflow Configuration": {
            "main": [
                [
                    {
                        "node": "Check File Type",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Column Profiling Engine": {
            "main": [
                [
                    {
                        "node": "Aggregate All Datasets",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Data Dictionary & ERD": {
            "main": [
                [
                    {
                        "node": "Return Results",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "_source_url": "https://n8n.io/workflows/14319-convert-csvxlsx-files-into-a-normalized-sql-schema-with-gpt-4/",
    "_scraped_at": "2026-05-07"
}