Reference_Library/n8n_workflows_scraped/Workflow Control/10787-scrape-linkedin-post-comments-and-reactions-with-browserflow-export-to-google-sheets.json
{
    "id": "U7kS3TEvP895EmKr",
    "meta": {
        "instanceId": "f5505eac4b885903d26ec48b1b4c8dd626b4f3ef5441ce6a09d78449f653acbe",
        "templateCredsSetupCompleted": true
    },
    "name": "Scrape Leads from Linkedin Post Comments & Reactions",
    "tags": [
        {
            "id": "F4o2FVOWoesrNHgL",
            "name": "Linkedin",
            "createdAt": "2025-11-13T10:42:05.333Z",
            "updatedAt": "2025-11-13T10:42:05.333Z"
        },
        {
            "id": "T4mkC4MLiOfp5GBc",
            "name": "sales automation",
            "createdAt": "2025-11-13T10:42:21.245Z",
            "updatedAt": "2025-11-13T10:42:21.245Z"
        },
        {
            "id": "ny9UyjrDSgg92MXz",
            "name": "Leads",
            "createdAt": "2025-11-13T10:42:08.733Z",
            "updatedAt": "2025-11-13T10:42:08.733Z"
        }
    ],
    "nodes": [
        {
            "id": "73b8cf7d-4d68-480d-b7c3-3c54c210b805",
            "name": "When clicking \u2018Execute workflow\u2019",
            "type": "n8n-nodes-base.manualTrigger",
            "position": [
                0,
                -32
            ],
            "parameters": {},
            "typeVersion": 1
        },
        {
            "id": "0b9e7f7e-77c8-4d3c-8829-f31ec419807c",
            "name": "Scrape profiles from a linkedin post",
            "type": "n8n-nodes-browserflow.browserflow",
            "position": [
                672,
                -32
            ],
            "parameters": {
                "postUrl": "={{ $('Get Post Url').item.json.url }}",
                "execution": {},
                "operation": "scrapeProfilesFromPostComments",
                "addComments": true,
                "addReactions": true
            },
            "credentials": {
                "browserflowApi": {
                    "id": "CAbOFvqkjf3fOpNJ",
                    "name": "Browserflow account"
                }
            },
            "typeVersion": 1
        },
        {
            "id": "2fc2dc34-3117-4517-a9e8-84259af4fff8",
            "name": "Append to Comments Sheet",
            "type": "n8n-nodes-base.googleSheets",
            "position": [
                1120,
                -128
            ],
            "parameters": {
                "columns": {
                    "value": {
                        "name": "={{ $json.name }}",
                        "likes": "={{ $json.likes }}",
                        "comment": "={{ $json.comment }}",
                        "img_url": "==IMAGE(\"{{ $json.image_url }}\";1)",
                        "replies": "={{ $json.replies }}",
                        "tagline": "={{ $json.tagline }}",
                        "relation": "={{ $json.relation }}",
                        "linkedin_url": "={{ $json.linkedin_url }}"
                    },
                    "schema": [
                        {
                            "id": "img_url",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "img_url",
                            "defaultMatch": false,
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "linkedin_url",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "linkedin_url",
                            "defaultMatch": false,
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "name",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "name",
                            "defaultMatch": false,
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "tagline",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "tagline",
                            "defaultMatch": false,
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "comment",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "comment",
                            "defaultMatch": false,
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "likes",
                            "type": "string",
                            "display": true,
                            "removed": false,
                            "required": false,
                            "displayName": "likes",
                            "defaultMatch": false,
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "replies",
                            "type": "string",
                            "display": true,
                            "removed": false,
                            "required": false,
                            "displayName": "replies",
                            "defaultMatch": false,
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "relation",
                            "type": "string",
                            "display": true,
                            "removed": false,
                            "required": false,
                            "displayName": "relation",
                            "defaultMatch": false,
                            "canBeUsedToMatch": true
                        }
                    ],
                    "mappingMode": "defineBelow",
                    "matchingColumns": [],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                },
                "options": {},
                "operation": "append",
                "sheetName": {
                    "__rl": true,
                    "mode": "list",
                    "value": "gid=0",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1huUaOdCXtioJgUpJHbK8cm-LLTtw-R7B8N4RKPkbois/edit#gid=0",
                    "cachedResultName": "Comments"
                },
                "documentId": {
                    "__rl": true,
                    "mode": "list",
                    "value": "1huUaOdCXtioJgUpJHbK8cm-LLTtw-R7B8N4RKPkbois",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1huUaOdCXtioJgUpJHbK8cm-LLTtw-R7B8N4RKPkbois/edit?usp=drivesdk",
                    "cachedResultName": "n8n | Demo - Scrape Post Leads"
                }
            },
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "c0EeoqROE0pnTtHs",
                    "name": "Google Sheets account"
                }
            },
            "typeVersion": 4.7
        },
        {
            "id": "ea0c2acd-1c2e-407a-a60b-97ca9db20594",
            "name": "Append to Reactions Sheet",
            "type": "n8n-nodes-base.googleSheets",
            "position": [
                1120,
                64
            ],
            "parameters": {
                "columns": {
                    "value": {
                        "name": "={{ $json.name }}",
                        "img_url": "==IMAGE(\"{{ $json.image_url }}\";1)",
                        "tagline": "={{ $json.tagline }}",
                        "relation": "={{ $json.relation }}",
                        "linkedin_url": "={{ $json.linkedin_url }}",
                        "reaction_type": "={{ $json.reaction_type }}"
                    },
                    "schema": [
                        {
                            "id": "img_url",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "img_url",
                            "defaultMatch": false,
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "linkedin_url",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "linkedin_url",
                            "defaultMatch": false,
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "name",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "name",
                            "defaultMatch": false,
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "tagline",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "tagline",
                            "defaultMatch": false,
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "reaction_type",
                            "type": "string",
                            "display": true,
                            "removed": false,
                            "required": false,
                            "displayName": "reaction_type",
                            "defaultMatch": false,
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "relation",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "relation",
                            "defaultMatch": false,
                            "canBeUsedToMatch": true
                        }
                    ],
                    "mappingMode": "defineBelow",
                    "matchingColumns": [],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                },
                "options": {},
                "operation": "append",
                "sheetName": {
                    "__rl": true,
                    "mode": "list",
                    "value": 385427295,
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1huUaOdCXtioJgUpJHbK8cm-LLTtw-R7B8N4RKPkbois/edit#gid=385427295",
                    "cachedResultName": "Reactions"
                },
                "documentId": {
                    "__rl": true,
                    "mode": "list",
                    "value": "1huUaOdCXtioJgUpJHbK8cm-LLTtw-R7B8N4RKPkbois",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1huUaOdCXtioJgUpJHbK8cm-LLTtw-R7B8N4RKPkbois/edit?usp=drivesdk",
                    "cachedResultName": "n8n | Demo - Scrape Post Leads"
                }
            },
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "c0EeoqROE0pnTtHs",
                    "name": "Google Sheets account"
                }
            },
            "typeVersion": 4.7
        },
        {
            "id": "9b5aa8b8-36d3-4f9e-b589-9ec4a5af3cfd",
            "name": "Split Out Reactions",
            "type": "n8n-nodes-base.splitOut",
            "position": [
                896,
                -128
            ],
            "parameters": {
                "options": {},
                "fieldToSplitOut": "comments"
            },
            "typeVersion": 1
        },
        {
            "id": "9f8d90af-bb33-4e42-b1ba-a7959ac73fc3",
            "name": "Split Out Comments",
            "type": "n8n-nodes-base.splitOut",
            "position": [
                896,
                64
            ],
            "parameters": {
                "options": {},
                "fieldToSplitOut": "reactions"
            },
            "typeVersion": 1
        },
        {
            "id": "c770d4dd-dcab-4177-b39e-a49e3639532d",
            "name": "Get Post Url",
            "type": "n8n-nodes-base.googleSheets",
            "position": [
                224,
                -32
            ],
            "parameters": {
                "options": {},
                "filtersUI": {
                    "values": [
                        {
                            "lookupColumn": "scraped_at"
                        }
                    ]
                },
                "sheetName": {
                    "__rl": true,
                    "mode": "list",
                    "value": 1217532733,
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1huUaOdCXtioJgUpJHbK8cm-LLTtw-R7B8N4RKPkbois/edit#gid=1217532733",
                    "cachedResultName": "Posts"
                },
                "documentId": {
                    "__rl": true,
                    "mode": "list",
                    "value": "1huUaOdCXtioJgUpJHbK8cm-LLTtw-R7B8N4RKPkbois",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1huUaOdCXtioJgUpJHbK8cm-LLTtw-R7B8N4RKPkbois/edit?usp=drivesdk",
                    "cachedResultName": "n8n | Demo - Scrape Post Leads"
                }
            },
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "c0EeoqROE0pnTtHs",
                    "name": "Google Sheets account"
                }
            },
            "typeVersion": 4.7
        },
        {
            "id": "1da82740-7f04-45bd-8c5e-7d9efdb9e7ff",
            "name": "Update row in sheet",
            "type": "n8n-nodes-base.googleSheets",
            "position": [
                448,
                -32
            ],
            "parameters": {
                "columns": {
                    "value": {
                        "row_number": "={{ $('Get Post Url').item.json.row_number }}",
                        "scraped_at": "={{$now}}"
                    },
                    "schema": [
                        {
                            "id": "url",
                            "type": "string",
                            "display": true,
                            "removed": false,
                            "required": false,
                            "displayName": "url",
                            "defaultMatch": false,
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "scraped_at",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "scraped_at",
                            "defaultMatch": false,
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "row_number",
                            "type": "number",
                            "display": true,
                            "removed": false,
                            "readOnly": true,
                            "required": false,
                            "displayName": "row_number",
                            "defaultMatch": false,
                            "canBeUsedToMatch": true
                        }
                    ],
                    "mappingMode": "defineBelow",
                    "matchingColumns": [
                        "row_number"
                    ],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                },
                "options": {},
                "operation": "update",
                "sheetName": {
                    "__rl": true,
                    "mode": "list",
                    "value": 1217532733,
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1huUaOdCXtioJgUpJHbK8cm-LLTtw-R7B8N4RKPkbois/edit#gid=1217532733",
                    "cachedResultName": "Posts"
                },
                "documentId": {
                    "__rl": true,
                    "mode": "list",
                    "value": "1huUaOdCXtioJgUpJHbK8cm-LLTtw-R7B8N4RKPkbois",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1huUaOdCXtioJgUpJHbK8cm-LLTtw-R7B8N4RKPkbois/edit?usp=drivesdk",
                    "cachedResultName": "n8n | Demo - Scrape Post Leads"
                }
            },
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "c0EeoqROE0pnTtHs",
                    "name": "Google Sheets account"
                }
            },
            "typeVersion": 4.7
        },
        {
            "id": "4a2e57ec-9772-4fef-8e0c-df86104589e2",
            "name": "Sticky Note",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                -560,
                -704
            ],
            "parameters": {
                "width": 640,
                "height": 480,
                "content": "## Scrape LinkedIn Post Comments & Reactions\n\n### How it works\nManually run the workflow to scrape any LinkedIn post.  \nIt reads your **Posts** sheet, marks each URL as processed, scrapes comments + reactions via Browserflow, then appends everything into the **Comments** and **Reactions** tabs.\n\n### How to set up\n1. Install **Browserflow for LinkedIn** (community node)  \n2. Add your Browserflow API key  \n3. Copy the Google Sheets template (Posts, Comments, Reactions)  \n4. Add post URLs to the **Posts** tab  \n5. Click **Execute workflow**\n\n### Customization (optional)\n- Filter reaction types or keywords  \n- Schedule with Cron for automatic scraping\n- Use additional Browserflow actions to scrape profiles or send invites\n"
            },
            "typeVersion": 1
        },
        {
            "id": "d880a58e-ecd7-4877-a32b-332edd8e54b3",
            "name": "Sticky Note1",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                592,
                -192
            ],
            "parameters": {
                "color": 5,
                "width": 256,
                "height": 448,
                "content": "##  Scrape the post"
            },
            "typeVersion": 1
        },
        {
            "id": "1240e09c-6339-40b8-b063-9abce808b73f",
            "name": "Sticky Note2",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                864,
                -192
            ],
            "parameters": {
                "color": 4,
                "width": 464,
                "height": 448,
                "content": "##  Store the results"
            },
            "typeVersion": 1
        },
        {
            "id": "4ee4cfaf-2dd7-49e7-83e3-6302e2d68844",
            "name": "Sticky Note3",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                192,
                -192
            ],
            "parameters": {
                "color": 4,
                "width": 384,
                "height": 448,
                "content": "##  Fetch posts to scrape"
            },
            "typeVersion": 1
        }
    ],
    "active": false,
    "pinData": {},
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "896cf7e9-36d6-427f-9de1-797d402122ec",
    "connections": {
        "Get Post Url": {
            "main": [
                [
                    {
                        "node": "Update row in sheet",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split Out Comments": {
            "main": [
                [
                    {
                        "node": "Append to Reactions Sheet",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split Out Reactions": {
            "main": [
                [
                    {
                        "node": "Append to Comments Sheet",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update row in sheet": {
            "main": [
                [
                    {
                        "node": "Scrape profiles from a linkedin post",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Scrape profiles from a linkedin post": {
            "main": [
                [
                    {
                        "node": "Split Out Reactions",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Split Out Comments",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "When clicking \u2018Execute workflow\u2019": {
            "main": [
                [
                    {
                        "node": "Get Post Url",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "_source_url": "https://n8n.io/workflows/10787-scrape-linkedin-post-comments-and-reactions-with-browserflow-export-to-google-sheets/"
}