Reference_Library/n8n_workflows_scraped/Workflow Control/7264-generate-ai-summarized-newsletter-drafts-from-rss-feeds-with-gpt-4-and-gmail.json
{
    "id": "B678cREDFm1a19Gt",
    "meta": {
        "instanceId": "1422505ff9db4b219ef5b5897bccc38680baade2a018cfc274b2a5db17b8cf14",
        "templateCredsSetupCompleted": true
    },
    "name": "RSS news Newsletter draft",
    "tags": [
        {
            "id": "9kcsz79cjuoXWIKa",
            "name": "info_extract",
            "createdAt": "2025-08-06T19:49:00.933Z",
            "updatedAt": "2025-08-06T19:49:00.933Z"
        },
        {
            "id": "BDi16MoLM1S3FTEv",
            "name": "Notion",
            "createdAt": "2025-08-04T20:02:06.936Z",
            "updatedAt": "2025-08-04T20:02:06.936Z"
        },
        {
            "id": "LpWDdjc6roCQJX6r",
            "name": "RSS",
            "createdAt": "2025-08-06T19:48:48.074Z",
            "updatedAt": "2025-08-06T19:48:48.074Z"
        },
        {
            "id": "soI0f6nC5gfL5B7b",
            "name": "Telegram",
            "createdAt": "2025-08-04T19:52:57.456Z",
            "updatedAt": "2025-08-04T19:52:57.456Z"
        }
    ],
    "nodes": [
        {
            "id": "ddabc02a-92b3-493f-a0d6-e6fea4710db1",
            "name": "RSS Feed Trigger",
            "type": "n8n-nodes-base.rssFeedReadTrigger",
            "position": [
                -32,
                0
            ],
            "parameters": {
                "feedUrl": "https://www.artificialintelligence-news.com/feed/",
                "pollTimes": {
                    "item": [
                        {
                            "mode": "everyHour"
                        }
                    ]
                }
            },
            "typeVersion": 1
        },
        {
            "id": "53b640dd-d8fb-4d80-af4e-1a24fd8064f0",
            "name": "Information Extractor",
            "type": "@n8n/n8n-nodes-langchain.informationExtractor",
            "position": [
                208,
                0
            ],
            "parameters": {
                "text": "=Snippet: {{ $json['content:encodedSnippet'] }}\nTitle: {{ $json.title }}\nContent: {{ $json['content:encoded'] }}",
                "options": {
                    "systemPromptTemplate": "Your task is a get information from content snippet, and translate it in {your prefer} language. \nKeep it clear and short about what is in content and title. "
                },
                "attributes": {
                    "attributes": [
                        {
                            "name": "Snippet",
                            "description": "This is a content snippet. Get data and return is as text"
                        },
                        {
                            "name": "Title",
                            "description": "Title of content"
                        },
                        {
                            "name": "Content",
                            "description": "Content of article"
                        }
                    ]
                }
            },
            "typeVersion": 1.2
        },
        {
            "id": "dcac64e7-7d47-421c-8516-20ee38b37249",
            "name": "OpenAI Chat Model",
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "position": [
                208,
                208
            ],
            "parameters": {
                "model": {
                    "__rl": true,
                    "mode": "list",
                    "value": "gpt-4.1-mini"
                },
                "options": {}
            },
            "credentials": {
                "openAiApi": {
                    "id": "LKvfZf3bWGECAIio",
                    "name": "OpenAI Descodino"
                }
            },
            "typeVersion": 1.2
        },
        {
            "id": "3560993c-7275-4fff-ba16-ff4ceb27fde0",
            "name": "Message a model",
            "type": "@n8n/n8n-nodes-langchain.openAi",
            "position": [
                560,
                0
            ],
            "parameters": {
                "modelId": {
                    "__rl": true,
                    "mode": "list",
                    "value": "gpt-4.1-mini",
                    "cachedResultName": "GPT-4.1-MINI"
                },
                "options": {},
                "messages": {
                    "values": [
                        {
                            "role": "system",
                            "content": "=Your task is get information about article, use assistant role named Patrik to give personalisation and create a newsletter content.\nContent si here:\n{{ $json.output.Content }}"
                        },
                        {
                            "role": "assistant",
                            "content": "Here give your tone of voice!"
                        }
                    ]
                }
            },
            "credentials": {
                "openAiApi": {
                    "id": "LKvfZf3bWGECAIio",
                    "name": "OpenAI Descodino"
                }
            },
            "typeVersion": 1.8
        },
        {
            "id": "78c2045c-782a-40fd-812c-c6205ada20e5",
            "name": "Create a draft",
            "type": "n8n-nodes-base.gmail",
            "position": [
                944,
                0
            ],
            "webhookId": "25bf2296-ef8d-4328-8c79-7d66a45eb775",
            "parameters": {
                "message": "={{ $json.message.content }}",
                "options": {},
                "subject": "Newsletter",
                "resource": "draft",
                "emailType": "html"
            },
            "credentials": {
                "gmailOAuth2": {
                    "id": "QwNSjFMVbs0gUErF",
                    "name": "Gmail Patrik@descodino.studio"
                }
            },
            "typeVersion": 2.1
        },
        {
            "id": "576d55c7-dcc8-4af1-a94d-378bffe5505b",
            "name": "Sticky Note",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                -96,
                -176
            ],
            "parameters": {
                "height": 480,
                "content": "## RSS feed\n**URL** \nPut a RSS feed into this node"
            },
            "typeVersion": 1
        },
        {
            "id": "207cddbe-a94c-438e-b807-e483b0d10c7f",
            "name": "Sticky Note1",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                160,
                -176
            ],
            "parameters": {
                "color": 2,
                "width": 320,
                "height": 512,
                "content": "## Information extract\n\nThis node will extract information about article.\n\nIn system prompt change language to your prefered one!\n"
            },
            "typeVersion": 1
        },
        {
            "id": "1fa45d4b-68f5-413c-8157-63cf6e2da64c",
            "name": "Sticky Note2",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                544,
                -176
            ],
            "parameters": {
                "color": 3,
                "width": 320,
                "height": 512,
                "content": "## Message a model\n\nSystem prompt is get data from extractor. \n\nAsistant prompt should be your tone of voice to personalised content!\n"
            },
            "typeVersion": 1
        },
        {
            "id": "8d83c36c-b717-4408-8394-146f9526fcfd",
            "name": "Sticky Note3",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                896,
                -176
            ],
            "parameters": {
                "color": 4,
                "width": 224,
                "height": 512,
                "content": "## Create a draft\n\nIts created a draft, with ready to sent!\n\n"
            },
            "typeVersion": 1
        }
    ],
    "active": false,
    "pinData": {
        "Message a model": [
            {
                "json": {
                    "index": 0,
                    "message": {
                        "role": "assistant",
                        "content": "Ahoj! \ud83d\ude0a\n\nAI je v kurzu a firma po firm\u011b za\u010d\u00edn\u00e1 vyu\u017e\u00edvat jej\u00ed s\u00edlu \u2013 super! Ale pozor, nen\u00ed to jen o tom m\u00edt nejnov\u011bj\u0161\u00ed technologie. Nov\u00fd v\u00fdzkum od Multiverse toti\u017e ukazuje, \u017ee pokud se p\u0159\u00edli\u0161 spolehnete na AI, m\u016f\u017eete necht\u011bn\u011b za\u010d\u00edt oslabovat sv\u00e9 vlastn\u00ed kl\u00ed\u010dov\u00e9 schopnosti \u2013 jako jsou analytick\u00e9 my\u0161len\u00ed, tvo\u0159ivost nebo trp\u011blivost.\n\nCo to znamen\u00e1 v praxi? Pokud nech\u00e1te AI v\u0161echno analyzovat a rozhodovat za v\u00e1s, m\u016f\u017ee doj\u00edt k tomu, \u017ee postupn\u011b ztrat\u00edte schopnost kriticky hodnotit jej\u00ed v\u00fdsledky a rozv\u00edjet vlastn\u00ed kreativitu. A pr\u00e1v\u011b to ohro\u017euje nejen projekty s AI, ale i v\u00e1\u0161 profesn\u00ed r\u016fst a \u00fasp\u011bch firmy v digit\u00e1ln\u00ed dob\u011b.\n\nMultiverse identifikovala 13 dovednost\u00ed, kter\u00e9 by m\u011bl ka\u017ed\u00fd, kdo pracuje s AI, aktivn\u011b rozv\u00edjet \u2013 pat\u0159\u00ed mezi n\u011b nejen analytick\u00e9 uva\u017eov\u00e1n\u00ed, ale taky t\u0159eba odolnost v\u016f\u010di frustraci a etick\u00e9 hodnocen\u00ed toho, co AI produkuje. Tyhle schopnosti v\u00e1m pomohou AI nejen pou\u017e\u00edvat, ale opravdu ji zvl\u00e1dnout a posunout d\u00e1l.\n\nChcete-li tedy vyu\u017e\u00edt AI naplno a neud\u011blat z n\u00ed berli\u010dku, zam\u011b\u0159te se na rozvoj sv\u00fdch lidsk\u00fdch dovednost\u00ed stejn\u011b intenzivn\u011b jako na technologii. Ve v\u00fdsledku v\u00e1m to otev\u0159e dve\u0159e k efektivn\u011bj\u0161\u00edm projekt\u016fm a lep\u0161\u00edm p\u0159\u00edle\u017eitostem v AI-\u00e9\u0159e.\n\n\ud83d\udca1 Rychl\u00fd TIP:\n1. Nechte si \u010das na ov\u011b\u0159en\u00ed v\u00fdstup\u016f AI.\n2. Pracujte na kreativn\u00edch \u00fakolech, kde AI zat\u00edm nesta\u010d\u00ed.\n3. Rozv\u00edjejte trp\u011blivost a odolnost p\u0159i pr\u00e1ci s nov\u00fdmi AI n\u00e1stroji.\n4. V\u011bnujte pozornost etick\u00e9mu rozm\u011bru AI.\n\nPokud chcete, m\u016f\u017eu v\u00e1m pomoci s n\u00e1vrhem konkr\u00e9tn\u00edch krok\u016f nebo n\u00e1stroj\u016f, jak tyhle dovednosti systematicky budovat.\n\nPoj\u010fme to zvl\u00e1dnout, aby AI byla na\u0161\u00edm par\u0165\u00e1kem, ne n\u011b\u010d\u00edm, co n\u00e1s dr\u017e\u00ed zp\u00e1tky!\n\nM\u011bjte prima den!\nPatrik \ud83d\udd90\ufe0f",
                        "refusal": null,
                        "annotations": []
                    },
                    "logprobs": null,
                    "finish_reason": "stop"
                }
            }
        ]
    },
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "ac807dbd-82f5-4fc6-ad36-b962b684eb1d",
    "connections": {
        "Message a model": {
            "main": [
                [
                    {
                        "node": "Create a draft",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "RSS Feed Trigger": {
            "main": [
                [
                    {
                        "node": "Information Extractor",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "Information Extractor",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Information Extractor": {
            "main": [
                [
                    {
                        "node": "Message a model",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "_source_url": "https://n8n.io/workflows/7264-generate-ai-summarized-newsletter-drafts-from-rss-feeds-with-gpt-4-and-gmail/"
}