Reference_Library/n8n_workflows_scraped/Utilities/8528-automate-hr-candidate-shortlisting-with-sheets-gmail-clickup-and-calendly.json
{
    "id": "K90xXcomw9TStJaJ",
    "meta": {
        "instanceId": "8443f10082278c46aa5cf3acf8ff0f70061a2c58bce76efac814b16290845177",
        "templateCredsSetupCompleted": true
    },
    "name": "Auto shortlist and stage movement",
    "tags": [],
    "nodes": [
        {
            "id": "43002ed8-acce-4d29-ad66-699c73b02d34",
            "name": "When clicking \u2018Execute workflow\u2019",
            "type": "n8n-nodes-base.manualTrigger",
            "position": [
                -400,
                992
            ],
            "parameters": {},
            "typeVersion": 1
        },
        {
            "id": "4ebed495-ccb8-40ac-99f8-6a3b6167d59e",
            "name": "Fetch All Candidate Records",
            "type": "n8n-nodes-base.googleSheets",
            "position": [
                -176,
                992
            ],
            "parameters": {
                "options": {},
                "sheetName": {
                    "__rl": true,
                    "mode": "list",
                    "value": 1424038785,
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JlXxy90s0we_IqErHyvomrJSijb8pd4H91hOUCH6xCA/edit#gid=1424038785",
                    "cachedResultName": "Sheet2"
                },
                "documentId": {
                    "__rl": true,
                    "mode": "list",
                    "value": "1JlXxy90s0we_IqErHyvomrJSijb8pd4H91hOUCH6xCA",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JlXxy90s0we_IqErHyvomrJSijb8pd4H91hOUCH6xCA/edit?usp=drivesdk",
                    "cachedResultName": "Resume store"
                }
            },
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "s4dP1fNuVZ2gWvs3",
                    "name": "Google Sheets account"
                }
            },
            "typeVersion": 4.6
        },
        {
            "id": "8b80964b-ae94-48f5-9f67-2aeb2299fa6b",
            "name": "Filter High-Score Candidates",
            "type": "n8n-nodes-base.if",
            "position": [
                48,
                992
            ],
            "parameters": {
                "options": {},
                "conditions": {
                    "options": {
                        "version": 2,
                        "leftValue": "",
                        "caseSensitive": true,
                        "typeValidation": "strict"
                    },
                    "combinator": "and",
                    "conditions": [
                        {
                            "id": "a2452d84-cf9b-4c61-bbd9-485ef1aa23f4",
                            "operator": {
                                "type": "number",
                                "operation": "gt"
                            },
                            "leftValue": "={{ $json.Score}}",
                            "rightValue": 70
                        }
                    ]
                }
            },
            "typeVersion": 2.2
        },
        {
            "id": "a4aa56b3-cf55-45bd-bfcb-2f5bd671730a",
            "name": "Send Congratulations Email",
            "type": "n8n-nodes-base.gmail",
            "position": [
                272,
                992
            ],
            "webhookId": "2122a833-8e99-41ac-b3ab-beac7ebc38e4",
            "parameters": {
                "sendTo": "{{ $json.receiver_email }}",
                "message": "=Hii {{ $json.Name }}!\n\nCongratulations for moving forward.\nPlease book your calendly time slot.\nhttps://calendly.com/anuj-techdome/30min",
                "options": {},
                "subject": "=Congratulations! {{ $json.Name }} for moving forward",
                "emailType": "text"
            },
            "credentials": {
                "gmailOAuth2": {
                    "id": "RchiXdmY8WaQhOSJ",
                    "name": "Gmail account"
                }
            },
            "typeVersion": 2.1
        },
        {
            "id": "5f8674a5-eb1e-4e1e-a06c-185902e5a965",
            "name": "Create Screening Task in ClickUp",
            "type": "n8n-nodes-base.clickUp",
            "position": [
                496,
                992
            ],
            "parameters": {
                "list": "901610812551",
                "name": "=Screening {{ $('Filter High-Score Candidates').item.json.Name }} TO BE DONE",
                "team": "9016683627",
                "space": "90162844741",
                "folder": "90164394824",
                "additionalFields": {
                    "assignees": [
                        95074494
                    ]
                }
            },
            "credentials": {
                "clickUpApi": {
                    "id": "FwrdqPtvlxnMFvdx",
                    "name": "ClickUp account-Anuj"
                }
            },
            "typeVersion": 1
        },
        {
            "id": "e3f57c76-3a7b-4980-938d-b467c14364c6",
            "name": "Sticky Note1",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                -560,
                1168
            ],
            "parameters": {
                "width": 320,
                "height": 280,
                "content": "## \ud83d\ude80 START PROCESS\n\n**Start Auto Candidate Shortlisting**\n\n\u2022 **Purpose**: Manually initiate the automated candidate progression workflow\n\u2022 **Trigger**: Click to start processing all candidates in the database\n\u2022 **Process**: Begins sequential evaluation of candidate scores\n\u2022 **Timing**: Run after new evaluation scores are added to the system\n\u2022 **Best Practice**: Execute during business hours for immediate follow-up"
            },
            "typeVersion": 1
        },
        {
            "id": "c25d82b5-f8cb-412b-9d50-0cdc9699e569",
            "name": "Sticky Note2",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                -352,
                624
            ],
            "parameters": {
                "width": 320,
                "height": 336,
                "content": "## \ud83d\udcca DATA RETRIEVAL\n\n**Fetch All Candidate Records**\n\n\u2022 **Purpose**: Retrieves complete candidate database from Google Sheets\n\u2022 **Source**: 'Resume store' spreadsheet, Sheet2\n\u2022 **Data Retrieved**: Names, scores, contact info, and evaluation summaries\n\u2022 **Processing**: Loads all rows for batch analysis\n\u2022 **Output**: Array of candidate objects with all profile information\n\u2022 **Performance**: Handles large candidate databases efficiently"
            },
            "typeVersion": 1
        },
        {
            "id": "689e0030-bf25-43f3-b99d-2bc1727c89cd",
            "name": "Sticky Note3",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                -64,
                1184
            ],
            "parameters": {
                "width": 320,
                "height": 372,
                "content": "## \ud83d\udd0d QUALIFICATION FILTER\n\n**Filter High-Score Candidates**\n\n\u2022 **Purpose**: Identifies candidates who meet minimum qualification threshold\n\u2022 **Criteria**: Score > 70 points (indicating good fit or better)\n\u2022 **Logic**: Filters out candidates with moderate or poor fit scores\n\u2022 **Output**: Only qualified candidates proceed to next stage\n\u2022 **Customization**: Threshold can be adjusted based on role requirements\n\u2022 **Quality Control**: Ensures only viable candidates advance in process"
            },
            "typeVersion": 1
        },
        {
            "id": "1bebc8b2-183e-43ac-8883-5901aad35ed6",
            "name": "Sticky Note4",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                144,
                592
            ],
            "parameters": {
                "width": 320,
                "height": 372,
                "content": "## \ud83d\udce7 CANDIDATE NOTIFICATION\n\n**Send Congratulations Email**\n\n\u2022 **Purpose**: Automatically notifies qualified candidates of their progress\n\u2022 **Recipient**: Uses candidate's email from database\n\u2022 **Content**: Personalized congratulatory message with next steps\n\u2022 **Scheduling Link**: Includes Calendly link for interview booking\n\u2022 **Personalization**: Dynamic insertion of candidate name\n\u2022 **Professional Touch**: Maintains positive candidate experience"
            },
            "typeVersion": 1
        },
        {
            "id": "ae10a73b-da03-4c2e-9b56-5c7746d2c287",
            "name": "Sticky Note5",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                480,
                1184
            ],
            "parameters": {
                "width": 320,
                "height": 412,
                "content": "## \ud83d\udccb TASK MANAGEMENT\n\n**Create Screening Task in ClickUp**\n\n\u2022 **Purpose**: Automatically creates screening tasks for HR team\n\u2022 **Task Details**: \n  - Title: 'Screening [Candidate Name] TO BE DONE'\n  - Assigned to specific team member (ID: 95074494)\n  - Organized in designated project structure\n\u2022 **Workflow Integration**: Links hiring process to project management\n\u2022 **Accountability**: Ensures follow-up actions are tracked and assigned\n\u2022 **Efficiency**: Eliminates manual task creation for each qualified candidate"
            },
            "typeVersion": 1
        },
        {
            "id": "449a2ec7-a2d8-43eb-a1d8-3e148108f4b2",
            "name": "Sticky Note6",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                -1136,
                672
            ],
            "parameters": {
                "width": 440,
                "height": 776,
                "content": "## \ud83c\udfaf AUTO SHORTLIST & STAGE MOVEMENT WORKFLOW\n\n**\ud83d\ude80 Purpose:** Streamlines the hiring process by automatically advancing qualified candidates and coordinating follow-up actions\n\n**\ud83d\udd04 Workflow Process:**\n1. **Data Collection**: Retrieve all candidate profiles and scores from database\n2. **Smart Filtering**: Identify candidates with scores above qualification threshold (>70)\n3. **Candidate Communication**: Send personalized advancement notifications with interview scheduling\n4. **Task Automation**: Create screening tasks in project management system for HR team\n\n**\ud83d\udcc8 Scoring Thresholds:**\n\u2022 **>70 Points**: Qualified candidates advance to interview stage\n\u2022 **\u226470 Points**: Candidates remain in current stage for review\n\n**\u2728 Key Benefits:**\n\u2022 **Speed**: Immediate candidate progression without manual intervention\n\u2022 **Consistency**: Standardized advancement criteria and communications\n\u2022 **Organization**: Automated task creation ensures nothing falls through cracks\n\u2022 **Experience**: Professional, timely communication enhances candidate journey\n\u2022 **Efficiency**: Reduces manual work for HR teams\n\n**\ud83d\udcca Integration Points:**\n\u2022 Google Sheets (candidate database)\n\u2022 Gmail (candidate communications) \n\u2022 ClickUp (task management)\n\u2022 Calendly (interview scheduling)"
            },
            "typeVersion": 1
        },
        {
            "id": "53306dfd-4d03-404a-b568-ffe307dc20ed",
            "name": "Sticky Note7",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                864,
                704
            ],
            "parameters": {
                "width": 360,
                "height": 500,
                "content": "## \u2699\ufe0f CONFIGURATION SETTINGS\n\n**\ud83d\udd27 Customizable Parameters:**\n\n**Score Threshold**: Currently set to 70\n\u2022 Adjust based on role competitiveness\n\u2022 Higher thresholds for senior positions\n\u2022 Lower thresholds for entry-level roles\n\n**Email Template**: Personalized messaging\n\u2022 Subject: Congratulations + candidate name\n\u2022 Body: Professional advancement notification\n\u2022 CTA: Calendly scheduling link\n\n**ClickUp Integration**:\n\u2022 Team ID: 9016683627\n\u2022 Space ID: 90162844741  \n\u2022 Folder ID: 90164394824\n\u2022 List ID: 901610812551\n\u2022 Default Assignee: 95074494\n\n**\ud83d\udcdd Maintenance Notes:**\n\u2022 Update email templates seasonally\n\u2022 Review score thresholds monthly\n\u2022 Monitor ClickUp task completion rates\n\u2022 Ensure Calendly links remain active"
            },
            "typeVersion": 1
        }
    ],
    "active": false,
    "pinData": {},
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "c2746ca9-779a-4021-b6c8-e43ab32c3276",
    "connections": {
        "Send Congratulations Email": {
            "main": [
                [
                    {
                        "node": "Create Screening Task in ClickUp",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch All Candidate Records": {
            "main": [
                [
                    {
                        "node": "Filter High-Score Candidates",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Filter High-Score Candidates": {
            "main": [
                [
                    {
                        "node": "Send Congratulations Email",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "When clicking \u2018Execute workflow\u2019": {
            "main": [
                [
                    {
                        "node": "Fetch All Candidate Records",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "_source_url": "https://n8n.io/workflows/8528-automate-hr-candidate-shortlisting-with-sheets-gmail-clickup-and-calendly/"
}