Reference_Library/n8n_workflows_scraped/Scheduling & Triggers/9198-daily-stock-market-digest-with-gpt-5-decodo-scraping-and-gmail-delivery.json
{
    "id": "Ez81dH5OUoIctRW0",
    "name": "Decodo AI Stock Research Agent",
    "tags": [],
    "nodes": [
        {
            "id": "5c865a09-9be4-4068-b531-31d49a5bafdd",
            "name": "Schedule Trigger",
            "type": "n8n-nodes-base.scheduleTrigger",
            "position": [
                -224,
                0
            ],
            "parameters": {
                "rule": {
                    "interval": [
                        {}
                    ]
                }
            },
            "typeVersion": 1.2
        },
        {
            "id": "8e711c70-7679-44dd-8647-3e9337310546",
            "name": "OpenAI Chat Model",
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "position": [
                32,
                224
            ],
            "parameters": {
                "model": {
                    "__rl": true,
                    "mode": "list",
                    "value": "gpt-5",
                    "cachedResultName": "gpt-5"
                },
                "options": {}
            },
            "typeVersion": 1.2
        },
        {
            "id": "08d1c172-d528-4e63-b756-e470dad988bd",
            "name": "AI Research Agent",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "position": [
                144,
                0
            ],
            "parameters": {
                "text": "Give me today\u2019s key stock market updates. Focus on major index movements (S&P 500, Nasdaq, Dow), global markets (Europe, Asia), sector trends, notable company earnings, congressional trading activity, and major financial news. Keep it concise and easy to read.",
                "options": {
                    "systemMessage": "=You are a Stock Market Research Assistant. Your role is to track the latest market movements and provide a concise daily digest of the most relevant financial updates. Focus on: US indices (S&P 500, Nasdaq, Dow), global markets (Europe, Asia), sector performance, earnings reports, major company news, congressional trading activity, central bank updates, and regulatory changes. Assume the user has a semi-technical understanding: they want clarity without excessive jargon. Deliver information in a structured, easy-to-read format that highlights what matters most to an investor or market watcher.\n\nTools\n\nDecodo Tool: Use this tool to scrape and extract reliable updates from sources such as:\n\nBloomberg Markets\n\nCNBC Markets\n\nReuters Business/Markets\n\nFinancial Times\n\nMarketWatch\n\nYahoo Finance (earnings & company news)\n\nQuiverQuant (for congressional trading activity and unusual flows)\n\nAlways summarize in your own words and attach the source link.\n\nRules\n\nMandatory Tool Use: Always use the Decodo Tool for all research and content extraction.\n\nConcise Output: Provide only the summarized daily stock market updates \u2014 no extra explanations or reasoning.\n\nLength Limit: Keep the entire digest \u2264 350 words.\n\nEmail-Ready Format: Present the output in clean, minimal HTML that can be directly passed to the Gmail node (no extra formatting required)."
                },
                "promptType": "define"
            },
            "typeVersion": 2.2
        },
        {
            "id": "093d2ede-578b-471e-9c95-aac4d29b1eb9",
            "name": "Decodo",
            "type": "@decodo/n8n-nodes-decodo.decodoTool",
            "position": [
                384,
                224
            ],
            "parameters": {
                "geo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Geolocation', `The country name from which the scraping request will be made. The first letter should be capitalized, e.g., \"United States\". If not specified, should be empty.`, 'string') }}",
                "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}"
            },
            "typeVersion": 1
        },
        {
            "id": "3273e682-5da9-49d7-8b3d-ef5dc14dca6d",
            "name": "Send a message",
            "type": "n8n-nodes-base.gmail",
            "position": [
                624,
                0
            ],
            "parameters": {
                "sendTo": "your-email@example.com",
                "message": "={{ $json.output }}",
                "options": {},
                "subject": "Daily AI News Update"
            },
            "typeVersion": 2.1
        },
        {
            "id": "00b12454-eedd-4482-8a01-2bc8ea0aa1b7",
            "name": "Simple Memory",
            "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
            "position": [
                208,
                224
            ],
            "parameters": {},
            "typeVersion": 1.3
        },
        {
            "id": "def507c8-ed42-449b-af94-c11486f6d2ac",
            "name": "Sticky Note",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                -48,
                -192
            ],
            "parameters": {
                "color": 4,
                "width": 624,
                "height": 608,
                "content": "AI Research Agent"
            },
            "typeVersion": 1
        },
        {
            "id": "691c29ea-6a98-490f-ad35-7b0c66418fbb",
            "name": "Sticky Note1",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                592,
                -192
            ],
            "parameters": {
                "color": 5,
                "width": 256,
                "height": 608,
                "content": "Send Email"
            },
            "typeVersion": 1
        },
        {
            "id": "8cfa25a2-6484-42af-bf95-e777d661b638",
            "name": "Sticky Note2",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                -320,
                -192
            ],
            "parameters": {
                "color": 5,
                "width": 256,
                "height": 608,
                "content": "Scheduled Trigger"
            },
            "typeVersion": 1
        },
        {
            "id": "a44edb2b-8233-4a68-9bbb-d482da4d3803",
            "name": "Sticky Note3",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                -1184,
                -192
            ],
            "parameters": {
                "width": 784,
                "height": 1376,
                "content": "Step-By-Step AI Stock Market Research Agent (Beginner)\n\nBuild your own AI-powered daily stock market digest \u2014 automatically researched, summarized, and delivered straight to your inbox.\nThis beginner-friendly n8n workflow shows how to combine OpenAI GPT-5, Decodo scraping tool, and Gmail to produce a concise daily financial update without writing a single line of code.\n\n\ud83c\udfa5 Watch a full tutorial and walkthrough on how to build and customize similar workflows at:\nhttps://www.youtube.com/watch?v=DdnxVhUaQd4\n\nWhat this template does\nEvery day, this agent automatically:\nTriggers on schedule (e.g., 9 a.m. daily).\nUses Decodo Tool to fetch real market headlines from Bloomberg, CNBC, Reuters, Yahoo Finance, etc.\nPasses the information to GPT-5, which summarizes key events into a clean daily report covering:\nMajor indices (S&P 500, Nasdaq, Dow)\nGlobal markets (Europe & Asia)\nSector trends and earnings\nCongressional trading activity\nMajor financial and regulatory news\nEmails the digest to you in a neat, ready-to-read HTML format.\n\nWhy it\u2019s useful (for beginners)\nZero coding: everything configured through n8n nodes.\nHands-on AI Agent logic: learn how a language-model node, memory, and web-scraping tool work together.\nPractical use case: a real-world agent that automates market intelligence for investors, creators, or business analysts.\n\nRequirements\nOpenAI API Key (GPT-4/5 compatible)\nDecodo API Key (for market data scraping)\nGmail OAuth2 Credential (to send daily digest)\n\n\nCredentials to set in n8n\nOpenAI API (Chat Model) \u2192 Connect your OpenAI key.\nDecodo API \u2192 Paste your Decodo access key.\nGmail OAuth2 \u2192 Connect your Google Account and edit \u201csend to\u201d email address.\n\nHow it works (nodes overview)\n1. Schedule Trigger\nStarts the workflow at a preset time (default: daily).\n2. AI Research Agent\nActs as a Stock Market Research Assistant.\nUses GPT-5 via OpenAI Chat Model.\nUses Decodo Tool to fetch real-time data from trusted finance sites.\nApplies custom system rules for concise summaries and email-ready HTML output.\n3. Simple Memory\nMaintains short-term context for clean message passing between nodes.\n4. Decodo Tool\nHandles all data scraping and extraction using the AI\u2019s tool calls.\n5. Gmail Node\nEmails the final daily digest to the user (default subject: \u201cDaily AI News Update\u201d).\n\nSetup (step-by-step)\nImport template into n8n.\nOpen each credential node \u2192 connect your accounts.\nIn the Gmail node, replace \u201csendTo\u201d with your email.\nAdjust Schedule Trigger \u2192 e.g., every weekday 8:30 a.m.\n(Optional) Edit the system prompt in AI Research Agent to focus on different sectors (crypto, energy, tech).\nClick Execute Workflow Once to test \u2014 you\u2019ll receive an AI-curated digest in your inbox.\n\nCustomization tips\n\ud83d\udd52 Change frequency: adjust Schedule Trigger to run multiple times daily or weekly.\n\ud83d\udcf0 Add sources: extend the Decodo Tool input with new URLs (e.g., Seeking Alpha, MarketWatch).\n\ud83d\udcc8 Switch topic: modify prompt to track crypto, commodities, or macroeconomic data.\n\ud83d\udcac Alternative delivery: send digest via Slack, Telegram, or Notion instead of Gmail.\n\nTroubleshooting\n401 errors: verify OpenAI/Decodo credentials.\nEmpty output: ensure Decodo Tool returns valid data; inspect the agent\u2019s log.\nEmail not sent: confirm Gmail OAuth2 scope and recipient email.\nFormatting issues: keep output in HTML mode; avoid Markdown."
            },
            "typeVersion": 1
        },
        {
            "id": "7320b12b-696e-42a3-864f-e072ced08246",
            "name": "Sticky Note4",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                0,
                -592
            ],
            "parameters": {
                "width": 512,
                "height": 352,
                "content": "@[youtube](DdnxVhUaQd4)"
            },
            "typeVersion": 1
        }
    ],
    "active": false,
    "pinData": {},
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "7ad07c0c-80e6-461e-a88a-295fd6354ade",
    "connections": {
        "Decodo": {
            "ai_tool": [
                [
                    {
                        "node": "AI Research Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Simple Memory": {
            "ai_memory": [
                [
                    {
                        "node": "AI Research Agent",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "Schedule Trigger": {
            "main": [
                [
                    {
                        "node": "AI Research Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Research Agent": {
            "main": [
                [
                    {
                        "node": "Send a message",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Research Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "_source_url": "https://n8n.io/workflows/9198-daily-stock-market-digest-with-gpt-5-decodo-scraping-and-gmail-delivery/"
}