Reference_Library/n8n_workflows_scraped/Social Media Posting/4741-get-binance-spot-market-financial-analysis-via-telegram-with-gpt-4o.json
{
    "id": "Nm41n4i6VMhrixZs",
    "meta": {
        "instanceId": "a5283507e1917a33cc3ae615b2e7d5ad2c1e50955e6f831272ddd5ab816f3fb6",
        "templateCredsSetupCompleted": true
    },
    "name": "Binance SM Financial Analyst Tool",
    "tags": [],
    "nodes": [
        {
            "id": "76944051-b8a4-4619-a307-3467e545c2d0",
            "name": "When Executed by Another Workflow",
            "type": "n8n-nodes-base.executeWorkflowTrigger",
            "position": [
                -640,
                -100
            ],
            "parameters": {
                "workflowInputs": {
                    "values": [
                        {
                            "name": "message"
                        },
                        {
                            "name": "sessionId"
                        }
                    ]
                }
            },
            "typeVersion": 1.1
        },
        {
            "id": "035ef2de-8f55-4d8e-96fb-17ecefc835b9",
            "name": "OpenAI Chat Model",
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "position": [
                -920,
                240
            ],
            "parameters": {
                "model": {
                    "__rl": true,
                    "mode": "list",
                    "value": "gpt-4.1-mini",
                    "cachedResultName": "gpt-4.1-mini"
                },
                "options": {}
            },
            "credentials": {
                "openAiApi": {
                    "id": "yUizd8t0sD5wMYVG",
                    "name": "OpenAi account"
                }
            },
            "typeVersion": 1.2
        },
        {
            "id": "8a658740-f8c3-44e2-ae3a-974bf5baec55",
            "name": "Simple Memory",
            "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
            "position": [
                -660,
                240
            ],
            "parameters": {},
            "typeVersion": 1.3
        },
        {
            "id": "ab7672db-5912-4ed5-b9cc-8a64195fb4f1",
            "name": "Binance SM Financial Analyst Agent",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "position": [
                -200,
                -100
            ],
            "parameters": {
                "text": "={{ $json.message }}",
                "options": {
                    "systemMessage": "You are the **Binance Spot Market Financial Analyst AI Agent**, tasked with interpreting natural-language trading queries and generating **multi-timeframe, indicator-driven market analysis** for any Binance spot symbol.\n\nYour core responsibility is to orchestrate real-time price tools and technical indicator sub-agents to **diagnose trend conditions, volatility shifts, and market momentum**, and return a structured report formatted for Telegram.\n\n---\n\n### \ud83d\udd17 Connected Tools & Agents\n\n#### 1. **Price & Market Structure Tool**\n\nWorkflow: `Binance SM Price-24hrStats-OrderBook-Kline Tool`\nReturns:\n\n* `getCurrentPrice`\n* `get24hrStats`\n* `getOrderBook`\n* `getKlines`\n  Input:\n\n```json\n{\n  \"message\": \"<SYMBOL>\",\n  \"sessionId\": \"<Telegram Chat ID>\"\n}\n```\n\n#### 2. **Timeframe-Based Technical Indicator Agents**\n\nEach uses the latest Binance kline data (limit: 40) to calculate:\n\n* **RSI** (14)\n* **MACD** (12/26/9)\n* **Bollinger Bands** (20/2)\n* **SMA / EMA** (20)\n* **ADX** (+DI, \u2212DI, 14)\n\nAgents:\n\n* `Binance SM 15min Indicators Agent`\n* `Binance SM 1hour Indicators Agent`\n* `Binance SM 4hour Indicators Agent`\n* `Binance SM 1day Indicators Agent`\n\nInput to each agent:\n\n```json\n{\n  \"message\": \"<SYMBOL>\",\n  \"sessionId\": \"<Telegram Chat ID>\"\n}\n```\n\n---\n\n### \ud83e\udde0 Decision Engine & Routing Logic\n\nYou must:\n\n* Extract the **symbol** and **implied timeframe** from the user query.\n* If no timeframe is given, default to:\n\n  * **Short-Term**: 15m + 1h\n  * **Mid-Term**: 1h + 4h\n  * **Long-Term**: 1d + 4h\n* Route data requests in parallel across tools\n* Merge raw metrics into a final structured insight\n\n---\n\n### \ud83d\udce4 Telegram Output Template\n\nReturn your final result in this format:\n\n```\n\ud83d\udcca <SYMBOL> Market Snapshot\n\n\ud83d\udcb0 Price: $63,220  \n\ud83d\udcc8 24h Change: +2.3%  \n\ud83d\udcca Volume: 45,210 BTC\n\n\ud83e\uddea Technical Summary:\n\u2022 1h RSI: 68 (Bullish)  \n\u2022 MACD: Crossover Up  \n\u2022 BB Width: Narrowing (Possible Breakout)  \n\u2022 ADX: 32 (Strong Trend)  \n\n\ud83d\udcc9 Support: $61,900  \n\ud83d\udcc8 Resistance: $63,800\n```\n\n---\n\n### \u2705 Input Handling Notes\n\n* Input: Human questions like \"How\u2019s BTC doing today?\" or \"Is SOL bullish in the 4h chart?\"\n* If timeframe is missing, **infer intent**\n* If symbol is missing, prompt: \u201cWhich token would you like me to analyze?\u201d\n* All agents and tools **must return cleaned JSON**, avoid raw API output"
                },
                "promptType": "define"
            },
            "typeVersion": 2
        },
        {
            "id": "f12e6672-bcb5-44af-b7d7-250437d8ba7c",
            "name": "Binance SM Price-24hrStats-OrderBook-Kline Agent",
            "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
            "position": [
                -400,
                220
            ],
            "parameters": {
                "workflowId": {
                    "__rl": true,
                    "mode": "list",
                    "value": "xAa5vBxhQzEWWFJM",
                    "cachedResultName": "Work Drive \u2014 Binance SM Price-24hrStats-OrderBook-Kline Tool"
                },
                "description": "This tool is a delegated sub-agent workflow that provides low-level market data from the Binance Spot Market in response to upstream AI reasoning. It is used by higher-level agents (e.g. the Financial Analyst Agent) to retrieve structured financial metrics and price data for any cryptocurrency pair.\n\n\ud83d\udd27 What It Does:\nThis agent accepts a symbol-based message input and returns Binance API data for:\n\n\u2705 getCurrentPrice \u2013 Latest market price for a trading pair (e.g., BTCUSDT)\n\n\u2705 get24hrStats \u2013 24-hour price change, high/low, volume, and close stats\n\n\u2705 getOrderBook \u2013 Real-time order book (bids/asks) with adjustable depth\n\n\u2705 getKlines \u2013 Candlestick OHLCV data for technical analysis",
                "workflowInputs": {
                    "value": {
                        "message": "={{ $fromAI(\"message\",\"Populate this with a relevant message to this subagent\")}}",
                        "sessionId": "={{ $json.sessionId }}"
                    },
                    "schema": [
                        {
                            "id": "message",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "message",
                            "defaultMatch": false,
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "sessionId",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "sessionId",
                            "defaultMatch": false,
                            "canBeUsedToMatch": true
                        }
                    ],
                    "mappingMode": "defineBelow",
                    "matchingColumns": [],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                }
            },
            "typeVersion": 2.2
        },
        {
            "id": "35936a8a-1bf6-4bfb-8ad7-1d192e6cf655",
            "name": "Binance SM 15min Indicators Agent",
            "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
            "position": [
                -120,
                220
            ],
            "parameters": {
                "workflowId": {
                    "__rl": true,
                    "mode": "list",
                    "value": "INYtgCEbxdGBDivU",
                    "cachedResultName": "Work Drive \u2014 Binance SM 15min Indicators Tool"
                },
                "description": "This is a 15-minute interval technical indicator agent for Binance Spot Market pairs. It provides AI-driven access to real-time technical signals calculated on the latest 15-minute candlestick data. Designed for use within larger financial analysis workflows, this tool helps detect short-term momentum shifts and trading signals.\n\n\ud83d\udd27 What It Does:\nWhen called with a valid crypto symbol, this agent fetches the latest 15-minute technical indicators, typically including (but not limited to):\n\n\u2705 Relative Strength Index (RSI)\n\n\u2705 Bollinger Bands (BBANDS)\n\n\u2705 Moving Averages (SMA/EMA)\n\n\u2705 MACD\n\n\u2705 ADX",
                "workflowInputs": {
                    "value": {
                        "message": "={{ $fromAI(\"message\",\"Populate this with a relevant message to this subagent\")}}",
                        "sessionId": "={{ $json.sessionId }}"
                    },
                    "schema": [
                        {
                            "id": "message",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "message",
                            "defaultMatch": false,
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "sessionId",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "sessionId",
                            "defaultMatch": false,
                            "canBeUsedToMatch": true
                        }
                    ],
                    "mappingMode": "defineBelow",
                    "matchingColumns": [],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                }
            },
            "typeVersion": 2.2
        },
        {
            "id": "3c15aea8-475e-42e0-b8f7-2295a176e386",
            "name": "Binance SM 1hour Indicators Agent",
            "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
            "position": [
                100,
                220
            ],
            "parameters": {
                "workflowId": {
                    "__rl": true,
                    "mode": "list",
                    "value": "eXDMxZUrE0tIPcR9",
                    "cachedResultName": "Work Drive \u2014 Binance SM 1hour Indicators Tool"
                },
                "description": "This agent is responsible for analyzing 1-hour interval technical indicators for trading pairs on the Binance Spot Market. It is used to detect mid-range market momentum and potential entry/exit signals based on trend strength and volatility.\n\n\ud83d\udd27 What It Does:\nWhen invoked, this agent queries the Binance SM 1hour Indicators Tool to retrieve AI-processed indicator data including (but not limited to):\n\n\u2705 RSI (Relative Strength Index)\n\n\u2705 MACD (Moving Average Convergence Divergence)\n\n\u2705 Bollinger Bands (BBANDS)\n\n\u2705 SMA / EMA (Simple & Exponential Moving Averages)\n\n\u2705 ADX (Average Directional Index)\n\nThese indicators are calculated from the latest 1-hour candlestick data and limited to the most recent data points (typically last 20).",
                "workflowInputs": {
                    "value": {
                        "message": "={{ $fromAI(\"message\",\"Populate this with a relevant message to this subagent\")}}",
                        "sessionId": "={{ $json.sessionId }}"
                    },
                    "schema": [
                        {
                            "id": "message",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "message",
                            "defaultMatch": false,
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "sessionId",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "sessionId",
                            "defaultMatch": false,
                            "canBeUsedToMatch": true
                        }
                    ],
                    "mappingMode": "defineBelow",
                    "matchingColumns": [],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                }
            },
            "typeVersion": 2.2
        },
        {
            "id": "b2feb013-9d16-4838-bfb5-2035ceb70790",
            "name": "Binance SM 4hour Indicators Agent",
            "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
            "position": [
                340,
                220
            ],
            "parameters": {
                "workflowId": {
                    "__rl": true,
                    "mode": "list",
                    "value": "6U56ifHxnha9rf2n",
                    "cachedResultName": "Work Drive \u2014 Binance SM 4hour Indicators Tool"
                },
                "description": "This agent focuses on retrieving and analyzing 4-hour timeframe technical indicators for Binance Spot Market trading pairs. It provides a medium-term view of trend strength, volatility, and momentum shifts\u2014ideal for swing trading analysis and macro-level setups.\n\n\ud83d\udd27 What It Does:\nWhen triggered, the agent queries the Binance SM 4hour Indicators Tool workflow and returns a curated set of technical indicator values, such as:\n\n\u2705 RSI (Relative Strength Index)\n\n\u2705 MACD (Moving Average Convergence Divergence)\n\n\u2705 Bollinger Bands\n\n\u2705 SMA / EMA\n\n\u2705 ADX (Trend Strength)\n\nThese indicators are derived from recent 4-hour candlestick data (typically the last 20 bars) and formatted for human-readable AI response generation.",
                "workflowInputs": {
                    "value": {
                        "message": "={{ $fromAI(\"message\",\"Populate this with a relevant message to this subagent\")}}",
                        "sessionId": "={{ $json.sessionId }}"
                    },
                    "schema": [
                        {
                            "id": "message",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "message",
                            "defaultMatch": false,
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "sessionId",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "sessionId",
                            "defaultMatch": false,
                            "canBeUsedToMatch": true
                        }
                    ],
                    "mappingMode": "defineBelow",
                    "matchingColumns": [],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                }
            },
            "typeVersion": 2.2
        },
        {
            "id": "248d63c7-0b95-4f50-acb0-ed2c58dfb4e9",
            "name": "Binance SM 1day Indicators Agent",
            "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
            "position": [
                600,
                220
            ],
            "parameters": {
                "workflowId": {
                    "__rl": true,
                    "mode": "list",
                    "value": "tZtQVd3nbDgZ1DTZ",
                    "cachedResultName": "Work Drive \u2014 Binance SM 1day Indicators Tool"
                },
                "workflowInputs": {
                    "value": {
                        "message": "={{ $fromAI(\"message\",\"Populate this with a relevant message to this subagent\")}}",
                        "sessionId": "={{ $json.sessionId }}"
                    },
                    "schema": [
                        {
                            "id": "message",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "message",
                            "defaultMatch": false,
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "sessionId",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "sessionId",
                            "defaultMatch": false,
                            "canBeUsedToMatch": true
                        }
                    ],
                    "mappingMode": "defineBelow",
                    "matchingColumns": [],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                }
            },
            "typeVersion": 2.2
        },
        {
            "id": "823c3ea2-dbee-4da5-a660-8b862e675db1",
            "name": "Sticky Note",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                -700,
                -400
            ],
            "parameters": {
                "color": 4,
                "height": 500,
                "content": "## Trigger: Parent Workflow Call\nNode: When Executed by Another Workflow\nThis agent does not start on its own. It is always triggered from a higher-level agent, like:\n\n**Binance Quant AI Agent**\n\nCustom multi-timeframe analyzers"
            },
            "typeVersion": 1
        },
        {
            "id": "61189fe9-31c1-4c03-b185-61ab5847e144",
            "name": "Sticky Note1",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                -720,
                180
            ],
            "parameters": {
                "color": 3,
                "width": 220,
                "height": 520,
                "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n## Memory Context\nNode: **Simple Memory\nStores the session ID, message, and interim indicator values** for cross-tool alignment. Enables:\n\nMulti-turn dialogue logic\n\nTrend comparison across timeframes\n\nReport reuse if repeated query is made"
            },
            "typeVersion": 1
        },
        {
            "id": "e9347973-3644-47dc-927e-87b480e473d9",
            "name": "Sticky Note2",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                -980,
                180
            ],
            "parameters": {
                "width": 220,
                "height": 520,
                "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n## AI Engine\nNode: OpenAI Chat Model\nModel: **gpt-4.1-mini** or compatible\nUsed to:\n\nInterpret values from all indicator tools\n\nLabel behavior: **\u201cOverbought,\u201d \u201cMACD Cross Up,\u201d \u201cVolatility Spike\u201d**\n\nOutput final snapshot in clean Telegram format"
            },
            "typeVersion": 1
        },
        {
            "id": "cee591cc-6c30-4d47-be93-5621315d02e4",
            "name": "Sticky Note3",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                -460,
                180
            ],
            "parameters": {
                "color": 6,
                "width": 220,
                "height": 620,
                "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n## Price & Structure Tool\nNode: **Binance SM Price-24hrStats-OrderBook-Kline Agent**\nReturns raw metrics:\n\n\u2705 Current Price\n\n\u2705 24hr Stats (OHLCV)\n\n\u2705 Order Book Depth (top 100 bids/asks)\n\n\u2705 Kline snapshots (15m, 1h, 4h, 1d)\n\nAll data is Telegram-optimized before AI formatting.\n\n"
            },
            "typeVersion": 1
        },
        {
            "id": "bfdeab4a-a387-41a6-97ca-6719b640b744",
            "name": "Sticky Note4",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                -200,
                180
            ],
            "parameters": {
                "color": 6,
                "width": 220,
                "height": 780,
                "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n## Technical Indicator Agents\nEach tool receives the same inputs:\n\njson\n{\n  \"message\": \"BTCUSDT\",\n  \"sessionId\": \"539847013\"\n}\n\n\ud83d\udd38 **15m Indicator Agent**\nDetects **fast-changing intraday signals** (scalping, fakeouts)\n\n\nEach calculates:\n\nRSI (14)\n\nMACD (12/26/9)\n\nBBANDS (20/2)\n\nSMA/EMA (20)\n\nADX (+DI / \u2212DI, 14)"
            },
            "typeVersion": 1
        },
        {
            "id": "a79b656a-b38a-4b0e-96c3-70b5282710aa",
            "name": "Sticky Note5",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                40,
                180
            ],
            "parameters": {
                "color": 6,
                "width": 220,
                "height": 780,
                "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n## Technical Indicator Agents\nEach tool receives the same inputs:\n\njson\n{\n  \"message\": \"BTCUSDT\",\n  \"sessionId\": \"539847013\"\n}\n\n\ud83d\udd38 **1h Indicator Agent**\nBest for **momentum confirmation or breakout acceleration**\n\n\nEach calculates:\n\nRSI (14)\n\nMACD (12/26/9)\n\nBBANDS (20/2)\n\nSMA/EMA (20)\n\nADX (+DI / \u2212DI, 14)"
            },
            "typeVersion": 1
        },
        {
            "id": "d1656eec-67d4-4ff0-8cf2-ee2040a9d8f2",
            "name": "Sticky Note6",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                280,
                180
            ],
            "parameters": {
                "color": 6,
                "width": 220,
                "height": 780,
                "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n## Technical Indicator Agents\nEach tool receives the same inputs:\n\njson\n{\n  \"message\": \"BTCUSDT\",\n  \"sessionId\": \"539847013\"\n}\n\n\ud83d\udd38 **4h Indicator Agent**\n**Macro view of medium-term setups and volume confirmation**\n\nEach calculates:\n\nRSI (14)\n\nMACD (12/26/9)\n\nBBANDS (20/2)\n\nSMA/EMA (20)\n\nADX (+DI / \u2212DI, 14)"
            },
            "typeVersion": 1
        },
        {
            "id": "115e5783-5220-45ac-a80e-bd9dd11d4af1",
            "name": "Sticky Note7",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                540,
                180
            ],
            "parameters": {
                "color": 6,
                "width": 220,
                "height": 780,
                "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n## Technical Indicator Agents\nEach tool receives the same inputs:\n\njson\n{\n  \"message\": \"BTCUSDT\",\n  \"sessionId\": \"539847013\"\n}\n\n\n\ud83d\udd38 1**d Indicator Agent**\n**High-timeframe sentiment, ideal for swing trade direction**\n\nEach calculates:\n\nRSI (14)\n\nMACD (12/26/9)\n\nBBANDS (20/2)\n\nSMA/EMA (20)\n\nADX (+DI / \u2212DI, 14)"
            },
            "typeVersion": 1
        },
        {
            "id": "bb184375-fab1-431a-a33f-b3dc0751105d",
            "name": "Sticky Note8",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                -320,
                -380
            ],
            "parameters": {
                "color": 5,
                "width": 500,
                "height": 460,
                "content": "## Primary Reasoning Agent\nNode: Binance SM Financial Analyst Agent\nThis is the orchestrator that:\n\n**Parses the symbol** and optional timeframe from user input\n\nSelects **tools dynamically**\n\n**Merges all results into one final report**\n\n"
            },
            "typeVersion": 1
        },
        {
            "id": "396ab0d2-a322-4373-836f-94490acdc9f0",
            "name": "Sticky Note9",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                940,
                -920
            ],
            "parameters": {
                "width": 1060,
                "height": 1900,
                "content": "# \ud83d\udcca Binance SM Financial Analyst Tool \u2013 Documentation\n\nA central orchestrator that fuses market structure data and technical indicators across all relevant timeframes, preparing them for final trading analysis inside the Quant AI system.\n\n---\n\n## \ud83c\udfaf Purpose\n\nThis tool is responsible for:\n\n* Parsing Telegram-style prompts from the master agent\n* Routing data requests to all relevant indicator tools (15m, 1h, 4h, 1d)\n* Fetching price, volume, order book, and kline structure\n* Merging all responses and returning a clean, readable summary\n\n---\n\n## \ud83e\udde9 Connected Sub-Agents\n\n| Sub-Agent Tool                           | Role                                                     |\n| --------------------------------------   | -------------------------------------------------------- |\n| \u2705 Binance SM 15min Indicators Tool       | Short-term volatility and reversals                      |\n| \u2705 Binance SM 1hour Indicators Tool       | Intraday momentum and trend formation                    |\n| \u2705 Binance SM 4hour Indicators Tool       | Swing trend analysis and confirmation                    |\n| \u2705 Binance SM 1day Indicators Tool        | Macro trend detection and directional bias               |\n| \u2705 Binance SM Price/24hStats/Kline Tool   | Raw market structure: OHLCV, order book, real-time price |\n\n---\n\n## \u2699\ufe0f Workflow Architecture\n\n| Section                             | Description                                                     |\n| ----------------------------------- | --------------------------------------------------------------- |\n| \ud83d\udd04 **Trigger:**                     | Executed by Quant AI Agent or Telegram Bot Handler              |\n| \ud83d\udcac **LLM Reasoning (gpt-4o-mini):** | Interprets queries, symbol, timeframe, intent                   |\n| \ud83e\udde0 **Session Memory:**              | Tracks `sessionId`, symbol history, multi-turn intent           |\n| \ud83d\udce5 **Input Format:**                | `{ \\\"message\\\": \\\"SOLUSDT\\\", \\\"sessionId\\\": \\\"123456789\\\" }`    |\n| \ud83d\udd01 **Tool Calls:**                  | Invokes all indicators and market data tools in parallel        |\n| \ud83d\udcca **Merge Results:**               | Combines indicators + price + order book into structured output |\n| \ud83d\udce4 **Final Output:**                | Telegram-ready HTML summary (text only, no raw JSON)            |\n\n---\n\n## \ud83d\udccf Timeframe Logic\n\n| Case           | Action                                            |\n| -------------- | ------------------------------------------------- |\n| No timeframe   | Default to `15m + 1h` (short-term snapshot)       |\n| Broad question | Return `1h + 4h + 1d` data (medium- to long-term) |\n| Symbol missing | Ask user to clarify the token or asset symbol     |\n\n---\n\n## \ud83d\udda5\ufe0f Telegram Output Format\n\n```\n\ud83d\udcca ETHUSDT Market Overview\n\n\ud83d\udcb0 Price: $3,680  \n\ud83d\udcc9 24h Stats: High $3,720 | Low $3,580 | Volume: 920,000 ETH\n\n\ud83e\uddea 4h Technical Indicators:\n\u2022 RSI: 62.1 \u2192 Neutral-Bullish  \n\u2022 MACD: Crossover Up  \n\u2022 BB: Price near upper band  \n\u2022 ADX: 27.9 \u2192 Growing Trend\n\n\ud83d\udcc8 Resistance: $3,740  \n\ud83d\udcc9 Support: $3,600\n```\n\n---\n\n## \u2705 Use Case Scenarios\n\n| Scenario                               | Result                                                     |\n| -------------------------------------- | ---------------------------------------------------------- |\n| User asks: \u201cShow me BTC outlook today\u201d | 15m + 1h + 1d analysis merged and summarized               |\n| User asks: \u201cHow is DOGE trending?\u201d     | Indicator agent fetch + live price + structure returned    |\n| Input lacks timeframe                  | Defaults to short + medium scopes with follow-up if needed |\n\n---\n\n## \ud83d\ude80 Support & Licensing\n\n\ud83d\udd17 **Don Jayamaha \u2013 LinkedIn**\n[http://linkedin.com/in/donjayamahajr](http://linkedin.com/in/donjayamahajr)\n\n\u00a9 2025 Treasurium Capital Limited Company. All rights reserved.\nThis AI automation system, including logic, code, prompt flows, and architectural structure, is proprietary intellectual property of **Treasurium Capital Limited Company**. Reproduction, redistribution, or resale is strictly prohibited without express license.\n"
            },
            "typeVersion": 1
        }
    ],
    "active": false,
    "pinData": {},
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "9d7a97dc-1249-4e37-a25a-e003555850b7",
    "connections": {
        "Simple Memory": {
            "ai_memory": [
                [
                    {
                        "node": "Binance SM Financial Analyst Agent",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "Binance SM Financial Analyst Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Binance SM 1day Indicators Agent": {
            "ai_tool": [
                [
                    {
                        "node": "Binance SM Financial Analyst Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Binance SM 15min Indicators Agent": {
            "ai_tool": [
                [
                    {
                        "node": "Binance SM Financial Analyst Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Binance SM 1hour Indicators Agent": {
            "ai_tool": [
                [
                    {
                        "node": "Binance SM Financial Analyst Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Binance SM 4hour Indicators Agent": {
            "ai_tool": [
                [
                    {
                        "node": "Binance SM Financial Analyst Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "When Executed by Another Workflow": {
            "main": [
                [
                    {
                        "node": "Binance SM Financial Analyst Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Binance SM Price-24hrStats-OrderBook-Kline Agent": {
            "ai_tool": [
                [
                    {
                        "node": "Binance SM Financial Analyst Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "_source_url": "https://n8n.io/workflows/4741-get-binance-spot-market-financial-analysis-via-telegram-with-gpt-4o/"
}