agent-tools/wf-02-live.json
{"success":true,"data":{"updatedAt":"2026-06-06T17:57:57.501Z","createdAt":"2026-05-22T19:51:20.731Z","id":"ZUR8Vu7ezlrrO1lR","name":"WF-02-Tiered-Filter","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"content":"## WF-02 — Tiered Keyword Filter\n\n**Purpose:** Run raw_keywords through the 4-tier filter pipeline:\n- Tier 0a: Postgres regex negatives (free, deterministic)\n- Tier 0b: Competitor brand/navigational filter\n- Tier 1: Embedding similarity vs gold_examples\n- Tier 2: LLM 3-axis classifier for borderline keywords\n- HITL: Slack approval queue (routed by client review_tier)\n- Cross-validation: AI second-pass on human overrides\n\n**Trigger:** POST to `/webhook/wf-02-filter`\nPayload: `{ client_id, pipeline_run_id? }`\n\n**Outputs written to Supabase:**\n- `keyword_classifications` (full audit trail)\n- `cross_validation_events`\n- `api_cost_log`\n- `pipeline_runs` (kind=filter)\n\n**Dependent workflows:** WF-03 (reads passed classifications)\n**Phase:** 1","height":340,"width":400,"color":7},"id":"1efafd1b-5c7f-4f49-a643-07550d99aab7","name":"📋 WF-02","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[160,240]},{"parameters":{"httpMethod":"POST","path":"wf-02-filter","responseMode":"responseNode","options":{}},"id":"fbf06272-ee9c-41de-ae11-9fedb2bdf3e4","name":"Webhook_Filter","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[640,448],"webhookId":"wf-02-filter"},{"parameters":{"jsCode":"const body = $input.first().json.body || $input.first().json;\nif (!body.client_id) throw new Error('Missing required field: client_id');\nreturn [{ json: { client_id: body.client_id, pipeline_run_id: body.pipeline_run_id || null, started_at: new Date().toISOString() } }];","notes":""},"id":"e6b2e5c9-04f6-4bc7-afe1-a00d64b8b387","name":"Validate_Filter_Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[864,448]},{"parameters":{"url":"={{ $env.SUPABASE_URL }}/rest/v1/clients?id=eq.{{ $json.client_id }}&select=id,config,slug","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"}]},"options":{}},"id":"cf5a9b33-8403-4710-aa1d-ded7b150457d","name":"Fetch_Client_Config","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1088,448]},{"parameters":{"jsCode":"// Run Tier 0a (regex negatives) and Tier 0b (competitor brand filter) via Supabase RPC\nconst client = ($input.first().json || [])[0];\nconst ctx = $('Validate_Filter_Payload').first().json;\nif (!client) throw new Error('Client not found: ' + ctx.client_id);\nreturn [{ json: { ...ctx, client_id: client.id, client_config: client.config, client_slug: client.slug } }];"},"id":"1b096a8b-156d-4395-a165-75b3def4a971","name":"Merge_Client_Config","type":"n8n-nodes-base.code","typeVersion":2,"position":[1312,448]},{"parameters":{"method":"POST","url":"={{ $env.SUPABASE_URL }}/rest/v1/rpc/apply_tier0_regex_filter","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"id":"e5ce9d79-887f-4797-84f3-67934cb86822","name":"Tier0a_Regex_Filter","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1520,448]},{"parameters":{"method":"POST","url":"={{ $env.SUPABASE_URL }}/rest/v1/rpc/apply_tier0_competitor_navigational_filter","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"id":"b82b5ba2-1b1b-4c1b-8a89-2728e7be0577","name":"Tier0b_Competitor_Filter","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1744,448]},{"parameters":{"url":"={{ $env.SUPABASE_URL }}/rest/v1/raw_keywords?client_id=eq.{{ $json.client_id }}&select=id,keyword&order=id","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Range","value":"0-49999"}]},"options":{}},"id":"786138f8-562a-4276-875c-eaa2d2ca513c","name":"Fetch_Unclassified_Keywords","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1968,448]},{"parameters":{"url":"={{ $env.SUPABASE_URL }}/rest/v1/gold_examples?client_id=eq.{{ $json.client_id }}&select=keyword,label,embedding","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"}]},"options":{}},"id":"b519aabc-aa48-4c8b-b74d-66591ef17016","name":"Fetch_Gold_Examples","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1968,640]},{"parameters":{"jsCode":"// Tier 1: embed each unclassified keyword and compute cosine similarity vs gold_example centroids\nconst ctx = $('Merge_Client_Config').first().json;\nconst keywords = $('Fetch_Unclassified_Keywords').first().json || [];\nconst goldExamples = $('Fetch_Gold_Examples').first().json || [];\n\nconst positives = goldExamples.filter(g => g.label === 'positive' && g.embedding);\nconst negatives = goldExamples.filter(g => g.label === 'negative' && g.embedding);\n\nfunction cosine(a, b) { if (!a || !b || a.length !== b.length) return 0; let dot = 0, na = 0, nb = 0; for (let i = 0; i < a.length; i++) { dot += a[i]*b[i]; na += a[i]*a[i]; nb += b[i]*b[i]; } return na && nb ? dot / (Math.sqrt(na) * Math.sqrt(nb)) : 0; }\nfunction centroid(vecs) { if (!vecs.length) return null; const len = vecs[0].length; const c = new Array(len).fill(0); for (const v of vecs) for (let i = 0; i < len; i++) c[i] += v[i]; return c.map(v => v / vecs.length); }\n\nconst posCentroid = centroid(positives.map(g => g.embedding));\nconst negCentroid = centroid(negatives.map(g => g.embedding));\n\nreturn [{ json: { ...ctx, keywords_to_embed: keywords.map(k => k.keyword), keyword_ids: keywords.map(k => k.id), has_gold_examples: positives.length > 0 || negatives.length > 0, pos_centroid: posCentroid, neg_centroid: negCentroid } }];"},"id":"08aed346-36c3-4e72-8e18-f561863d41dd","name":"Prepare_Tier1","type":"n8n-nodes-base.code","typeVersion":2,"position":[2192,544]},{"parameters":{"batchSize":100,"options":{}},"id":"daee8a77-220a-458a-9127-755ed5808728","name":"Batch_For_Embedding","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2400,544]},{"parameters":{"method":"POST","url":"https://openrouter.ai/api/v1/embeddings","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"id":"98a45426-fbfb-4b00-8e54-d5fc17f3856a","name":"Embed_Keywords_Batch","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2624,544]},{"parameters":{"jsCode":"// Score embeddings against gold centroids and assign tier1 decision\nconst ctx = $('Prepare_Tier1').first().json;\nconst embResp = $input.first().json;\nconst embeddings = embResp?.data || [];\n\nfunction cosine(a, b) { if (!a || !b || a.length !== b.length) return 0; let dot = 0, na = 0, nb = 0; for (let i = 0; i < a.length; i++) { dot += a[i]*b[i]; na += a[i]*a[i]; nb += b[i]*b[i]; } return na && nb ? dot / (Math.sqrt(na) * Math.sqrt(nb)) : 0; }\n\nconst results = embeddings.map((e, i) => {\n  const kw = ctx.keywords_to_embed[i];\n  const id = ctx.keyword_ids[i];\n  const emb = e.embedding;\n  const posScore = ctx.has_gold_examples ? cosine(emb, ctx.pos_centroid) : 0.5;\n  const negScore = ctx.has_gold_examples ? cosine(emb, ctx.neg_centroid) : 0.5;\n  const diff = posScore - negScore;\n  let tier1_decision;\n  if (diff > 0.15) tier1_decision = 'passed';\n  else if (diff < -0.15) tier1_decision = 'rejected';\n  else tier1_decision = 'borderline';\n  return { keyword: kw, raw_keyword_id: id, embedding: emb, pos_score: posScore, neg_score: negScore, tier1_decision };\n});\n\nconst borderline = results.filter(r => r.tier1_decision === 'borderline');\nconst passed = results.filter(r => r.tier1_decision === 'passed');\nconst rejected = results.filter(r => r.tier1_decision === 'rejected');\n\nreturn [{ json: { ...ctx, tier1_results: results, borderline, passed_tier1: passed, rejected_tier1: rejected, embed_tokens: embResp?.usage?.total_tokens || 0 } }];"},"id":"17f97cb7-3a81-4976-ae03-9b99d43796f1","name":"Score_Tier1","type":"n8n-nodes-base.code","typeVersion":2,"position":[2848,544]},{"parameters":{"jsCode":"// WAVE 2 FIX: Convert passed_tier1 and rejected_tier1 arrays to n8n items\nconst scoreResults = $input.first().json;\nconst clientContext = $('Fetch_Client_Config').first().json;\n\nconst classificationItems = [];\n\nfor (const kw of (scoreResults.passed_tier1 || [])) {\n  classificationItems.push({ json: { raw_keyword_id: kw.raw_keyword_id, client_id: clientContext.id, pipeline_run_id: clientContext.pipeline_run_id, decided_by: 'tier1_embedding', status: 'passed', pos_score: kw.pos_score, neg_score: kw.neg_score, embedding: kw.embedding, scored_at: new Date().toISOString() } });\n}\nfor (const kw of (scoreResults.rejected_tier1 || [])) {\n  classificationItems.push({ json: { raw_keyword_id: kw.raw_keyword_id, client_id: clientContext.id, pipeline_run_id: clientContext.pipeline_run_id, decided_by: 'tier1_embedding', status: 'rejected', pos_score: kw.pos_score, neg_score: kw.neg_score, embedding: kw.embedding, scored_at: new Date().toISOString() } });\n}\n\nreturn classificationItems.length > 0 ? classificationItems : [{ json: { skip_write: true } }];"},"id":"4dd90658-b16a-4910-a2f0-ba0d41923cf9","name":"Build_Tier1_Classification_Rows","type":"n8n-nodes-base.code","typeVersion":2,"position":[3072,752]},{"parameters":{"method":"POST","url":"={{ $env.SUPABASE_URL }}/rest/v1/keyword_classifications","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"id":"97a1621a-e198-4446-a477-6669a9633569","name":"Write_Tier1_Classifications","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3280,752]},{"parameters":{"jsCode":"// Build Tier 2 LLM classify requests for borderline keywords\nconst ctx = $json;\nconst borderline = ctx.borderline || [];\n\nreturn borderline.map(kw => ({ json: { client_id: ctx.client_id, pipeline_run_id: ctx.pipeline_run_id, client_config: ctx.client_config, raw_keyword_id: kw.raw_keyword_id, keyword: kw.keyword, embedding: kw.embedding, tier1_pos_score: kw.pos_score, tier1_neg_score: kw.neg_score } }));"},"id":"e3af7c17-cfdf-4dcf-8c74-058b361eb838","name":"Prep_Tier2_Items","type":"n8n-nodes-base.code","typeVersion":2,"position":[3072,544]},{"parameters":{"method":"POST","url":"https://openrouter.ai/api/v1/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"id":"c83479a4-b77f-419a-b9ff-b6ea0ee99f24","name":"LLM_Tier2_Classify","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3280,544]},{"parameters":{"jsCode":"// Parse Tier 2 response and write classification to Supabase\nconst ctx = $('Prep_Tier2_Items').item.json;\nconst llmRaw = $input.first().json;\n\nlet classification = {};\ntry { classification = JSON.parse(llmRaw.choices?.[0]?.message?.content || '{}'); } catch(e) { classification = { status: 'needs_review', confidence: 0, decision_reasoning: 'Parse error: ' + e.message }; }\n\nconst inputTokens = llmRaw.usage?.prompt_tokens || 0;\nconst outputTokens = llmRaw.usage?.completion_tokens || 0;\n\nreturn [{ json: { client_id: ctx.client_id, pipeline_run_id: ctx.pipeline_run_id, raw_keyword_id: ctx.raw_keyword_id, keyword: ctx.keyword, classification: { raw_keyword_id: ctx.raw_keyword_id, client_id: ctx.client_id, pipeline_run_id: ctx.pipeline_run_id, status: classification.status || 'needs_review', decided_by: 'tier2_llm', decision_reasoning: classification.decision_reasoning || '', confidence: classification.confidence || 0, intent_type: classification.intent_type || 'informational', niche_hint: classification.niche_hint || null, content_theme_hint: classification.content_theme_hint || null, icp_match_score: classification.icp_match_score || 0, llm_prompt_hash: 'tier2-classifier-v1' }, llm_tokens: { input: inputTokens, output: outputTokens } } }];"},"id":"2ad74bec-121c-4949-9023-b33cf6c10d3c","name":"Parse_Tier2_Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[3504,544]},{"parameters":{"method":"POST","url":"={{ $env.SUPABASE_URL }}/rest/v1/keyword_classifications","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"id":"507b5806-24b4-452a-9f54-ed712a5ea18e","name":"Write_Classification","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3728,544]},{"parameters":{"conditions":{"conditions":[{"id":"needs-hitl","leftValue":"={{ $json.classification.status }}","rightValue":"needs_review","operator":{"type":"string","operation":"equals"}}],"combinator":"and","options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1}},"options":{}},"id":"260af6c9-bb4c-4b7d-b569-117d96831f01","name":"IF_Needs_HITL","type":"n8n-nodes-base.if","typeVersion":2,"position":[3952,544]},{"parameters":{"method":"POST","url":"https://slack.com/api/chat.postMessage","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"id":"42bf37c0-e39c-4ea4-a65d-392c5e725867","name":"Send_HITL_Card","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4160,368]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ ok: true, status: 'filter_complete' }) }}","options":{}},"id":"d3a6fa67-9ad1-4761-8b45-a372126f426c","name":"Respond_Filter","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[4160,544]},{"id":"4742a3ec-6484-475a-93c8-0bc4b1eceb41","name":"Check_Cost_Ceiling_Tier1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2480,400],"parameters":{"method":"POST","url":"={{ $env.SUPABASE_URL }}/rest/v1/rpc/check_cost_ceiling","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ p_pipeline_run_id: $('Validate_Filter_Payload').item.json.pipeline_run_id, p_predicted_additional_usd: 0.001 }) }}","options":{}}},{"id":"e719d7b7-b47c-4ead-9fef-3b2ab4cbddb8","name":"Cost_Gate_Tier1_Embedding","type":"n8n-nodes-base.if","typeVersion":2,"position":[2700,400],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"combinator":"or","conditions":[{"id":"allowed-true","leftValue":"={{ $json.allowed }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"no-run-id","leftValue":"={{ $json.reason }}","rightValue":"pipeline_run not found","operator":{"type":"string","operation":"equals"}}]},"options":{}}},{"id":"acbcff59-aee6-4089-a723-5f184f00241a","name":"Send_Cost_Pause_Slack_Tier1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2700,620],"parameters":{"method":"POST","url":"https://slack.com/api/chat.postMessage","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ channel: $env.SLACK_OPS_CHANNEL, text: 'WF-02 Tier 1 embedding paused by cost ceiling', blocks: [ { type: 'header', text: { type: 'plain_text', text: 'Cost ceiling hit (WF-02 Tier 1 embeddings)' } }, { type: 'section', fields: [ { type: 'mrkdwn', text: '*Reason:*\\n' + $json.reason }, { type: 'mrkdwn', text: '*Cost so far:* $' + $json.cost_so_far_usd }, { type: 'mrkdwn', text: '*Ceiling:* $' + $json.cost_ceiling_usd }, { type: 'mrkdwn', text: '*Projected total:* $' + $json.projected_total_usd } ] }, { type: 'section', text: { type: 'mrkdwn', text: 'Pipeline run paused. Inspect in Supabase `pipeline_runs` (status should be `paused_cost_ceiling`).' } } ] }) }}","options":{"timeout":10000}}},{"id":"14843e83-5692-4e56-80b0-2ae33fc4d699","name":"Check_Cost_Ceiling_Tier2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3160,400],"parameters":{"method":"POST","url":"={{ $env.SUPABASE_URL }}/rest/v1/rpc/check_cost_ceiling","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ p_pipeline_run_id: $('Validate_Filter_Payload').item.json.pipeline_run_id, p_predicted_additional_usd: 0.10 }) }}","options":{}}},{"id":"f10ca807-e2a5-4902-9e2e-4843ababe468","name":"Cost_Gate_Tier2_LLM","type":"n8n-nodes-base.if","typeVersion":2,"position":[3380,400],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"combinator":"or","conditions":[{"id":"allowed-true","leftValue":"={{ $json.allowed }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"no-run-id","leftValue":"={{ $json.reason }}","rightValue":"pipeline_run not found","operator":{"type":"string","operation":"equals"}}]},"options":{}}},{"id":"bc70f5da-c16b-4aa1-90bb-bd46267bb0a4","name":"Send_Cost_Pause_Slack_Tier2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3380,620],"parameters":{"method":"POST","url":"https://slack.com/api/chat.postMessage","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ channel: $env.SLACK_OPS_CHANNEL, text: 'WF-02 Tier 2 LLM classify paused by cost ceiling', blocks: [ { type: 'header', text: { type: 'plain_text', text: 'Cost ceiling hit (WF-02 Tier 2 LLM)' } }, { type: 'section', fields: [ { type: 'mrkdwn', text: '*Reason:*\\n' + $json.reason }, { type: 'mrkdwn', text: '*Cost so far:* $' + $json.cost_so_far_usd }, { type: 'mrkdwn', text: '*Ceiling:* $' + $json.cost_ceiling_usd }, { type: 'mrkdwn', text: '*Projected total:* $' + $json.projected_total_usd } ] }, { type: 'section', text: { type: 'mrkdwn', text: 'Pipeline run paused. Inspect in Supabase `pipeline_runs` (status should be `paused_cost_ceiling`).' } } ] }) }}","options":{"timeout":10000}}}],"connections":{"Webhook_Filter":{"main":[[{"node":"Validate_Filter_Payload","type":"main","index":0}]]},"Validate_Filter_Payload":{"main":[[{"node":"Fetch_Client_Config","type":"main","index":0}]]},"Fetch_Client_Config":{"main":[[{"node":"Merge_Client_Config","type":"main","index":0}]]},"Merge_Client_Config":{"main":[[{"node":"Tier0a_Regex_Filter","type":"main","index":0},{"node":"Fetch_Gold_Examples","type":"main","index":0}]]},"Tier0a_Regex_Filter":{"main":[[{"node":"Tier0b_Competitor_Filter","type":"main","index":0}]]},"Fetch_Unclassified_Keywords":{"main":[[{"node":"Prepare_Tier1","type":"main","index":0}]]},"Prepare_Tier1":{"main":[[{"node":"Batch_For_Embedding","type":"main","index":0}]]},"Embed_Keywords_Batch":{"main":[[{"node":"Score_Tier1","type":"main","index":0}]]},"Score_Tier1":{"main":[[{"node":"Build_Tier1_Classification_Rows","type":"main","index":0}]]},"Build_Tier1_Classification_Rows":{"main":[[{"node":"Write_Tier1_Classifications","type":"main","index":0}]]},"LLM_Tier2_Classify":{"main":[[{"node":"Parse_Tier2_Response","type":"main","index":0}]]},"Parse_Tier2_Response":{"main":[[{"node":"Write_Classification","type":"main","index":0}]]},"Write_Classification":{"main":[[{"node":"IF_Needs_HITL","type":"main","index":0}]]},"IF_Needs_HITL":{"main":[[{"node":"Send_HITL_Card","type":"main","index":0}],[{"node":"Respond_Filter","type":"main","index":0}]]},"Fetch_Gold_Examples":{"main":[[{"node":"Prepare_Tier1","type":"main","index":0}]]},"Batch_For_Embedding":{"main":[[{"node":"Check_Cost_Ceiling_Tier1","type":"main","index":0}]]},"Cost_Gate_Tier1_Embedding":{"main":[[{"node":"Embed_Keywords_Batch","type":"main","index":0}],[{"node":"Send_Cost_Pause_Slack_Tier1","type":"main","index":0}]]},"Send_Cost_Pause_Slack_Tier1":{"main":[[{"node":"Respond_Filter","type":"main","index":0}]]},"Prep_Tier2_Items":{"main":[[{"node":"Check_Cost_Ceiling_Tier2","type":"main","index":0}]]},"Cost_Gate_Tier2_LLM":{"main":[[{"node":"LLM_Tier2_Classify","type":"main","index":0}],[{"node":"Send_Cost_Pause_Slack_Tier2","type":"main","index":0}]]},"Send_Cost_Pause_Slack_Tier2":{"main":[[{"node":"Respond_Filter","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":true},"staticData":null,"meta":{"aiBuilderAssisted":true,"builderVariant":"mcp"},"pinData":{},"versionId":"6ebeff5e-a5df-4349-9023-a1145563ced2","activeVersionId":null,"versionCounter":5,"triggerCount":1,"shared":[{"updatedAt":"2026-05-22T19:51:20.731Z","createdAt":"2026-05-22T19:51:20.731Z","role":"workflow:owner","workflowId":"ZUR8Vu7ezlrrO1lR","projectId":"rTCks0rx4Wh918nP","project":{"updatedAt":"2026-05-18T10:36:22.740Z","createdAt":"2026-05-18T10:35:48.382Z","id":"rTCks0rx4Wh918nP","name":"admin admin <pranavkumar1920@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"a7c042e5-9e28-47ff-97f4-1bf27271b298"}}],"tags":[],"activeVersion":null}}
