Reference_Library/n8n_workflows_scraped/Notion & Docs/10044-ai-multi-agent-executive-team-for-entrepreneurs-with-gemini-perplexity-and-whatsapp.json
{
    "meta": {
        "instanceId": "8f351f8f18f69574a46094a253f36ef0804528a7fc6d1eee81ee60e356860359",
        "templateId": "3859",
        "templateCredsSetupCompleted": true
    },
    "nodes": [
        {
            "id": "d331386a-1ebf-4a16-9f68-52c6a44cafb1",
            "name": "OpenRouter Chat Model",
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
            "position": [
                -400,
                -256
            ],
            "parameters": {
                "model": "deepseek/deepseek-r1-distill-llama-70b:free",
                "options": {}
            },
            "credentials": {
                "openRouterApi": {
                    "id": "credential-id",
                    "name": "openRouterApi Credential"
                }
            },
            "typeVersion": 1
        },
        {
            "id": "fcac07a0-6315-4bbb-bcb8-10b8ab11904f",
            "name": "Send message",
            "type": "n8n-nodes-base.whatsApp",
            "position": [
                1088,
                -384
            ],
            "webhookId": "06d03f05-260e-40f6-aeaf-a2a79e6e5116",
            "parameters": {
                "textBody": "={{ $json.output }}",
                "operation": "send",
                "phoneNumberId": "606740479199182",
                "additionalFields": {},
                "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}"
            },
            "credentials": {
                "whatsAppApi": {
                    "id": "credential-id",
                    "name": "whatsAppApi Credential"
                }
            },
            "typeVersion": 1
        },
        {
            "id": "9dde3636-5ac3-44d2-a513-071287c2a30c",
            "name": "Message a model in Perplexity",
            "type": "n8n-nodes-base.perplexityTool",
            "position": [
                912,
                96
            ],
            "parameters": {
                "model": "sonar-deep-research",
                "options": {},
                "messages": {
                    "message": [
                        {
                            "content": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message0_Text', ``, 'string') }}"
                        }
                    ]
                },
                "simplify": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify_Output', ``, 'boolean') }}",
                "requestOptions": {}
            },
            "credentials": {
                "perplexityApi": {
                    "id": "credential-id",
                    "name": "perplexityApi Credential"
                }
            },
            "typeVersion": 1
        },
        {
            "id": "ff5d658c-0c39-4448-9f32-45c646db1406",
            "name": "Sales & Marketing Director",
            "type": "@n8n/n8n-nodes-langchain.agentTool",
            "position": [
                -464,
                64
            ],
            "parameters": {
                "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
                "options": {
                    "systemMessage": "You are the Sales & Marketing Director at CustomCX. Your role is to drive revenue, growth, and market awareness with sharp strategies and bold execution. You are obsessed with the customer, data-driven, and long-term focused \u2014 just like Jeff Bezos.\n\nYour tone is visionary, yet practical. You constantly seek scalable, automated ways to reach new customers, close deals, and position CustomCX as a leader in AI business automation.\n\nUse your expertise to suggest campaigns, funnels, outreach strategies, and messaging that converts. Prioritize systems over hacks, impact over noise.\n\nAlways think: how do we increase customer trust, reduce friction, and grow intelligently?\n\nRespond with clarity, confidence, and purpose. No fluff \u2014 just results. You may use \"Wikipedia1\" tool if you need anything from the internet must be relevant.\n\nUse \"SerpAPI tool\" to search through google"
                },
                "toolDescription": "You are Sales & Marketing Director, Act promptly when called to Give advise on sales and markting"
            },
            "typeVersion": 2.2
        },
        {
            "id": "bfaa4730-3cdd-4d87-b910-5d5faf4eff88",
            "name": "Accountability Director",
            "type": "@n8n/n8n-nodes-langchain.agentTool",
            "position": [
                96,
                80
            ],
            "parameters": {
                "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
                "options": {
                    "systemMessage": "You are firm but supportive. You don't allow excuses, and you're always pushing for progress. Use real context from the Supabase Vector Store to reference previous goals, decisions, and tasks. Your duty is Always to support Founder and the CustomCX team.\n\nWhen asked, check on:\n- What goals were set?\n- What progress has been made?\n- What needs urgent action?\n\nIf no question is asked, proactively follow up:\n- What has been achieved today?\n- Any blockers?\n- What can be improved?\n\nNever respond with fluff. Be direct, brief, and focused on accountability and action.\n\nIf asked for motivation, remind them of their vision, the impact of CustomCX, and the milestones ahead.\n\nYou are NOT here to execute tasks \u2014 you are here to keep Shadrack on track and achieving results.\n"
                },
                "toolDescription": "You are Accountability Director. wait to be called.  \nRole: This agent serves as a Mentor and Execution Partner for startup founders. Its mission is to keep the founder focused, track progress, and ensure execution of strategic goals. It reminds, motivates, challenges, and follows up. It should feel like a no-nonsense yet supportive coach.\n"
            },
            "typeVersion": 2.2
        },
        {
            "id": "d3cb52ed-b692-4e37-9324-5a3ec079f930",
            "name": "Supabase Vector Store1",
            "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
            "position": [
                256,
                976
            ],
            "parameters": {
                "mode": "insert",
                "options": {
                    "queryName": "match_customcx_documents"
                },
                "tableName": {
                    "__rl": true,
                    "mode": "list",
                    "value": "customcx",
                    "cachedResultName": "customcx"
                }
            },
            "credentials": {
                "supabaseApi": {
                    "id": "credential-id",
                    "name": "supabaseApi Credential"
                }
            },
            "typeVersion": 1.3
        },
        {
            "id": "82521eaa-ad5c-45db-a830-1e05e6c6d847",
            "name": "Default Data Loader",
            "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
            "position": [
                384,
                1184
            ],
            "parameters": {
                "loader": "pdfLoader",
                "options": {},
                "dataType": "binary"
            },
            "typeVersion": 1.1
        },
        {
            "id": "b039e745-be49-4c88-bd36-3221779347ed",
            "name": "Embeddings Cohere",
            "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
            "notes": "running",
            "position": [
                176,
                1184
            ],
            "parameters": {
                "modelName": "embed-english-light-v2.0"
            },
            "credentials": {
                "cohereApi": {
                    "id": "credential-id",
                    "name": "cohereApi Credential"
                }
            },
            "notesInFlow": true,
            "typeVersion": 1
        },
        {
            "id": "295bb90e-a803-4a1c-9a91-e312fbabb844",
            "name": "President",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "position": [
                -304,
                -384
            ],
            "parameters": {
                "text": "={{ $json.messages[0].text.body }}",
                "options": {
                    "systemMessage": "You are the \"President\" AI Automation Agecy of CustomCX \u2014 an elite AI agency that designs, builds, and deploys AI-powered business workflows for startups, SMEs, and enterprises. You lead a team of specialized AI Directors and decide the best path to solve the CustomCX founder requests And Consultations. \"CustomCX is an AI automation Agency in Kenya.\"\n\nYour mission: **Help CustomCX adopt and leverage AI in automating businesses workflows, integrate platforms, and deliver exceptional customer experience so they never lose customers due to slow inbox replies or inefficient processes.**\n\n---\n\n### Tools & Directors:\n1. **Business Research Director (Perplexity)**  \n   - Use for: Market research, competitor analysis, industry trends, fact-checking, data gathering.\n   - Always combine Perplexity research with the Supabase RAG database for accuracy.\n\n2. **Sales & Marketing Director (Gemini)**  \n   - Use for: Marketing strategies, ad campaign ideas, sales scripts, customer acquisition plans, lead generation flows.\n\n3. **Mentor / Accountability Director**  \n   - Use for: Guiding founders, keeping them disciplined, creating execution plans, tracking progress.\n\n4. **CustomCX Workflow Builder (n8n)**  \n   - Use when: The solution requires creating or explaining an automation workflow using n8n.\n   - Can also recommend workflow designs using Zapier or Make if better suited to the case.\n\n5. **Platform Integration Expert**  \n   - Use when: The client asks to connect CRMs, ERPs, databases, SaaS apps, management systems, or websites.\n   - Provide integration approach and best practices.\n\n6. \"Admin Secretary\" I have given you an Admin Secretary.she is Responsible for handling matters of booking, scheduling meetings, updating calendar, emailing fellow employes at customCX. The Admin Secretary tool is provided with additional priviledges to handle these tasks. But you can always guide her. \n7. You may use Wikipedia tool when you need\n\n---\n\n### General Rules:\n- If the request is **specific and clearly falls into one Director\u2019s domain**, assign it to that Director and return their answer.\n- If the request **involves multiple domains**, break it into subtasks and assign to each Director in sequence.\n- If the request is **general, high-level, or strategic**, answer it yourself using your combined knowledge and the Supabase RAG.\n- Always keep responses professional, clear, and founder-focused, but approachable.\n- Offer to design actionable workflows, automation steps, or integration diagrams when relevant.\n- If unclear, ask clarifying questions before acting.\n\nYou are not just answering \u2014 you are diagnosing problems, assigning tasks, and delivering results like a CEO running a top-tier AI automation agency for CustomCX.\nCustomCX (Customized Customer Experience)\n* Always make sure Every response is deliver. if the response will take longer to execute, give a notice indicating your team is working on it.\n"
                },
                "promptType": "define",
                "needsFallback": true
            },
            "typeVersion": 2.1
        },
        {
            "id": "fb9b952f-be5c-4178-a8a0-d675625001a9",
            "name": "WhatsApp Trigger",
            "type": "n8n-nodes-base.whatsAppTrigger",
            "position": [
                -768,
                -384
            ],
            "webhookId": "d567f656-caf3-4d58-9e30-15dc1ac813da",
            "parameters": {
                "options": {
                    "messageStatusUpdates": [
                        "all"
                    ]
                },
                "updates": [
                    "messages"
                ]
            },
            "credentials": {
                "whatsAppTriggerApi": {
                    "id": "credential-id",
                    "name": "whatsAppTriggerApi Credential"
                }
            },
            "typeVersion": 1
        },
        {
            "id": "e3b6c36b-3618-4fa2-ae01-89b7cb20b3de",
            "name": "Employee list",
            "type": "n8n-nodes-base.googleSheetsTool",
            "position": [
                1312,
                208
            ],
            "parameters": {
                "options": {},
                "sheetName": {
                    "__rl": true,
                    "mode": "list",
                    "value": "gid=0",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SonbnXnn5qcCmJeV3XoE2mV5GCukrDD2YhG0FXjun_Y/edit#gid=0",
                    "cachedResultName": "Sheet1"
                },
                "documentId": {
                    "__rl": true,
                    "mode": "list",
                    "value": "1SonbnXnn5qcCmJeV3XoE2mV5GCukrDD2YhG0FXjun_Y",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SonbnXnn5qcCmJeV3XoE2mV5GCukrDD2YhG0FXjun_Y/edit?usp=drivesdk",
                    "cachedResultName": "CustomCX Team"
                }
            },
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "credential-id",
                    "name": "googleSheetsOAuth2Api Credential"
                }
            },
            "typeVersion": 4.6
        },
        {
            "id": "515089cb-dea8-40b2-81ee-719eaa7f04a1",
            "name": "Director Business Research",
            "type": "@n8n/n8n-nodes-langchain.agentTool",
            "position": [
                656,
                -32
            ],
            "parameters": {
                "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
                "options": {
                    "systemMessage": "Once you are called perform the deligated duties and return your research in an organized manner. Use Perplexity tool to do your Research. Your brief Research should seek to boost the growth of CustomCX Automation AI gency."
                },
                "toolDescription": "Wait until the President Agent assigns you a task.  \nYou are responsible for researching strategies for the growth of CustomCX, an automation agency.  \nOnly respond to questions that require internet-based research.  \nUse the Perplexity tool for live data and Supabase Vector Store for internal context when needed.  \nBe brief, accurate, and focused on actionable insights."
            },
            "typeVersion": 2.2
        },
        {
            "id": "c3977c0c-4d2c-432b-b8d2-0d7e86f900a5",
            "name": "Admin Secretary",
            "type": "@n8n/n8n-nodes-langchain.agentTool",
            "position": [
                1152,
                16
            ],
            "parameters": {
                "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
                "options": {
                    "systemMessage": "Your work is to perform secretarial duties. You can book a meets, by adding the dates to calendar, email recipients, Or Even draft emails. You should refer for employee/colegues contact details from \"Employee list\" google sheet to Map accurately to get the accurate emails and names. Use \"Send a message in Gmail\" tool to send emails when asked to. The emails should be work oriented and professional but very brief, include key details. use the calendar tool to add the events if needed. Be a Smart secretary. Always wait to be Assigned Duties."
                },
                "toolDescription": "Wait to be called when secretarial duties arise."
            },
            "typeVersion": 2.2
        },
        {
            "id": "1dfefcca-73b0-4d2f-8889-ed6be005e2bf",
            "name": "Send a message in Gmail1",
            "type": "n8n-nodes-base.gmailTool",
            "position": [
                1472,
                192
            ],
            "webhookId": "6c6d3ef2-a6d2-4401-8df3-e51d12442694",
            "parameters": {
                "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
                "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
                "options": {
                    "appendAttribution": false
                },
                "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
                "emailType": "text",
                "descriptionType": "manual",
                "toolDescription": "Send a message in Gmail"
            },
            "credentials": {
                "gmailOAuth2": {
                    "id": "credential-id",
                    "name": "gmailOAuth2 Credential"
                }
            },
            "typeVersion": 2.1
        },
        {
            "id": "a1173520-f1dd-4eb4-a6e7-b8bdd4bdccd5",
            "name": "Create an event in Google Calendar",
            "type": "n8n-nodes-base.googleCalendarTool",
            "position": [
                1632,
                176
            ],
            "parameters": {
                "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
                "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
                "calendar": {
                    "__rl": true,
                    "mode": "list",
                    "value": "user@example.com",
                    "cachedResultName": "user@example.com"
                },
                "additionalFields": {}
            },
            "credentials": {
                "googleCalendarOAuth2Api": {
                    "id": "credential-id",
                    "name": "googleCalendarOAuth2Api Credential"
                }
            },
            "typeVersion": 1.3
        },
        {
            "id": "b47cfc44-83ed-40cc-81c4-a8959caf655e",
            "name": "Wikipedia1",
            "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
            "position": [
                -192,
                272
            ],
            "parameters": {},
            "typeVersion": 1
        },
        {
            "id": "fd7e2b1f-9afa-4912-ae60-78f06e83525c",
            "name": "Sticky Note",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                -1456,
                -752
            ],
            "parameters": {
                "width": 448,
                "height": 912,
                "content": "### How it works\nThis workflow is an AI-powered multi-agent system built for startup founders and small business owners who want to automate decision-making, accountability, research, and communication, all through WhatsApp.\n\nDesigned around a \u201cvirtual executive team,\u201d the system features a President (Super Agent) who manages specialized AI Directors, each handling a distinct aspect of your business operations. It combines Gemini, Perplexity, and SerpAPI for intelligence and automation, while integrating Google Workspace (Calendar, Gmail, Sheets) for seamless productivity.\n\nSince the AI workflow has access to the business knowledge base. it can do a market analysis, research and more\n**Case study**\nTake an example where you running an EdTech start-up, you want to stay a head of you competitors, you want to do market research and have some leads, you need a secretary to update your calendar and virtual assistance and finally someone to remind you why you started. then this workflow is for you\n\n## Setup steps\nAdjust all the system messages to fit your business need and niche\nYou need a whatsapp API/ Facebook developer account and a verified business account\n\nPerplexity API\n\nSerpapi or Tavily Api for google search\n\nsupabase account \n\nenable google suite APIs (Calendars, gmail, google sheets) under google console"
            },
            "typeVersion": 1
        },
        {
            "id": "e4b1e39a-92c9-465c-802a-cf7c0f6a4ebc",
            "name": "Sticky Note3",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                -16,
                -80
            ],
            "parameters": {
                "color": 7,
                "width": 470,
                "height": 400,
                "content": " **Accountability director** is responsible for milestone achievement, encouraging the founding team, and providing motivational advise"
            },
            "typeVersion": 1
        },
        {
            "id": "5c09157f-e008-494e-8909-25d18c7d6966",
            "name": "Sticky Note4",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                512,
                -208
            ],
            "parameters": {
                "color": 7,
                "width": 528,
                "height": 464,
                "content": "**Director Business Research** is responsible for watching and analysing the market competitors. Works with real time data through perplexity retrival"
            },
            "typeVersion": 1
        },
        {
            "id": "c20974df-d344-4407-9718-1a305eebee88",
            "name": "Sticky Note5",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                -128,
                720
            ],
            "parameters": {
                "color": 7,
                "width": 944,
                "height": 576,
                "content": "\n## **\ud83c\udfaf RAG Pipeline**\n## Your business knowledgebase goes here"
            },
            "typeVersion": 1
        },
        {
            "id": "22673eb5-825a-48cf-b662-26810abbd067",
            "name": "Business Knowledgebase",
            "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
            "position": [
                224,
                816
            ],
            "parameters": {
                "mode": "retrieve-as-tool",
                "topK": 8,
                "options": {
                    "queryName": "match_customcx_documents"
                },
                "tableName": {
                    "__rl": true,
                    "mode": "list",
                    "value": "customcx",
                    "cachedResultName": "customcx"
                },
                "toolDescription": "Use this tool to answer questions regarding CustomCX automation solutions"
            },
            "credentials": {
                "supabaseApi": {
                    "id": "credential-id",
                    "name": "supabaseApi Credential"
                }
            },
            "typeVersion": 1.3
        },
        {
            "id": "ee1d913a-da7c-41a9-bd6e-6eafd0407f78",
            "name": "SerpAPI internet search",
            "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
            "position": [
                -480,
                272
            ],
            "parameters": {
                "options": {}
            },
            "credentials": {
                "serpApi": {
                    "id": "credential-id",
                    "name": "serpApi Credential"
                }
            },
            "typeVersion": 1
        },
        {
            "id": "317129ae-3a6c-4d68-a16c-bb2d16cdf8ce",
            "name": "System Persistent Memory",
            "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
            "position": [
                -320,
                272
            ],
            "parameters": {
                "sessionKey": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
                "sessionIdType": "customKey",
                "contextWindowLength": 100
            },
            "credentials": {
                "postgres": {
                    "id": "credential-id",
                    "name": "postgres Credential"
                }
            },
            "typeVersion": 1.3
        },
        {
            "id": "c1d67e80-ab76-42b9-9801-aefd49fcecb2",
            "name": "Sticky Note6",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                1152,
                -112
            ],
            "parameters": {
                "color": 7,
                "width": 704,
                "height": 560,
                "content": "**The Secretary Agent** In charge of light duties like Sechuduling meetings, updating CRM "
            },
            "typeVersion": 1
        },
        {
            "id": "e410dba0-6f8a-4a11-bc9f-a1e19401bf15",
            "name": "Sticky Note2",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                -672,
                0
            ],
            "parameters": {
                "color": 7,
                "width": 608,
                "height": 416,
                "content": "**Sales & Marketing Director** is Incharge of Lead and report generation\n"
            },
            "typeVersion": 1
        },
        {
            "id": "52b375f6-fca3-4186-bcb6-12a3c3cc9c92",
            "name": "System brain powered Google Gemini",
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "position": [
                1024,
                912
            ],
            "parameters": {
                "options": {}
            },
            "credentials": {
                "googlePalmApi": {
                    "id": "credential-id",
                    "name": "googlePalmApi Credential"
                }
            },
            "typeVersion": 1
        },
        {
            "id": "ce31154d-9124-4f99-8ef1-61899a7dbaf6",
            "name": "Sticky Note8",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                -464,
                -544
            ],
            "parameters": {
                "color": 7,
                "width": 800,
                "height": 400,
                "content": "## The President Orchastrates the entire workflow\nHe sign duties, when any director fails he assumes the role\nHe takes directoins from human and assign it to the appropriate Director"
            },
            "typeVersion": 1
        },
        {
            "id": "20edd0e1-f5f3-45fc-9de4-55c19b122cb5",
            "name": "Sticky Note9",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                912,
                848
            ],
            "parameters": {
                "color": 7,
                "width": 288,
                "height": 240,
                "content": "The System brain"
            },
            "typeVersion": 1
        },
        {
            "id": "543bba49-5f1b-4495-8223-bd8ec647a60a",
            "name": "Business Documents",
            "type": "n8n-nodes-base.formTrigger",
            "position": [
                -96,
                976
            ],
            "webhookId": "0cefce8a-3cfb-47f0-ab0c-b6b8d0ddd806",
            "parameters": {
                "options": {},
                "formTitle": "Business Documents",
                "formFields": {
                    "values": [
                        {
                            "fieldType": "file",
                            "fieldLabel": "Files",
                            "acceptFileTypes": ".pdf"
                        }
                    ]
                },
                "formDescription": "Submit all relevant business documents for referal (pdf format)"
            },
            "typeVersion": 2.3
        }
    ],
    "pinData": {},
    "connections": {
        "President": {
            "main": [
                [
                    {
                        "node": "Send message",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wikipedia1": {
            "ai_tool": [
                [
                    {
                        "node": "Sales & Marketing Director",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Employee list": {
            "ai_tool": [
                [
                    {
                        "node": "Admin Secretary",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Admin Secretary": {
            "ai_tool": [
                [
                    {
                        "node": "President",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "WhatsApp Trigger": {
            "main": [
                [
                    {
                        "node": "President",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Embeddings Cohere": {
            "ai_embedding": [
                [
                    {
                        "node": "Supabase Vector Store1",
                        "type": "ai_embedding",
                        "index": 0
                    },
                    {
                        "node": "Business Knowledgebase",
                        "type": "ai_embedding",
                        "index": 0
                    }
                ]
            ]
        },
        "Business Documents": {
            "main": [
                [
                    {
                        "node": "Supabase Vector Store1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Default Data Loader": {
            "ai_document": [
                [
                    {
                        "node": "Supabase Vector Store1",
                        "type": "ai_document",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenRouter Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "President",
                        "type": "ai_languageModel",
                        "index": 1
                    }
                ]
            ]
        },
        "Business Knowledgebase": {
            "ai_tool": [
                [
                    {
                        "node": "President",
                        "type": "ai_tool",
                        "index": 0
                    },
                    {
                        "node": "Sales & Marketing Director",
                        "type": "ai_tool",
                        "index": 0
                    },
                    {
                        "node": "Director Business Research",
                        "type": "ai_tool",
                        "index": 0
                    },
                    {
                        "node": "Accountability Director",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Accountability Director": {
            "ai_tool": [
                [
                    {
                        "node": "President",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "SerpAPI internet search": {
            "ai_tool": [
                [
                    {
                        "node": "Sales & Marketing Director",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Send a message in Gmail1": {
            "ai_tool": [
                [
                    {
                        "node": "Admin Secretary",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "System Persistent Memory": {
            "ai_memory": [
                [
                    {
                        "node": "President",
                        "type": "ai_memory",
                        "index": 0
                    },
                    {
                        "node": "Admin Secretary",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "Director Business Research": {
            "ai_tool": [
                [
                    {
                        "node": "President",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Sales & Marketing Director": {
            "ai_tool": [
                [
                    {
                        "node": "President",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Message a model in Perplexity": {
            "ai_tool": [
                [
                    {
                        "node": "Director Business Research",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Create an event in Google Calendar": {
            "ai_tool": [
                [
                    {
                        "node": "Admin Secretary",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "System brain powered Google Gemini": {
            "ai_languageModel": [
                [
                    {
                        "node": "President",
                        "type": "ai_languageModel",
                        "index": 0
                    },
                    {
                        "node": "Sales & Marketing Director",
                        "type": "ai_languageModel",
                        "index": 0
                    },
                    {
                        "node": "Director Business Research",
                        "type": "ai_languageModel",
                        "index": 0
                    },
                    {
                        "node": "Accountability Director",
                        "type": "ai_languageModel",
                        "index": 0
                    },
                    {
                        "node": "Admin Secretary",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "_source_url": "https://n8n.io/workflows/10044-ai-multi-agent-executive-team-for-entrepreneurs-with-gemini-perplexity-and-whatsapp/",
    "_scraped_at": "2026-01-24"
}